[2015-06-02 15:36] esjewett opened #1 "Modify CONTRIBUTING.md"
Should probably remove the need for a ICLA. Anything else we need to do?

[2015-06-02 15:37] esjewett opened #2 "Wiki and documentation"
Unclear if we can or should transfer at least the API documentation from the original repository. Thoughts?

My assumption is that the documentation is offered under the same license as the rest of the code, so it would be OK to copy it over.

[2015-06-02 15:55] gordonwoodhull commented on #1
I think that's about it. I think we should also start an AUTHORS file and point the copyright notice in the LICENSE to it, i.e.

[code]

[2015-06-02 15:56] esjewett opened #3 "Create AUTHORS file"
Per @gordonwoodhull comment in #1:

"we should also start an AUTHORS file and point the copyright notice in the LICENSE to it, i.e.

Copyright 2012-2015 Square, Inc, and crossfilter contributors.
See the AUTHORS file at the top level of this distribution and
https://github.com/crossfilter/crossfilter/blob/master/AUTHORS"

[2015-06-02 15:56] gordonwoodhull commented on #1
The tome on the subject: http://softwarefreedom.org/resources/2012/ManagingCopyrightInformation.html

[2015-06-02 18:45] derekperkins commented on #2
It should be, though I'm no expert. I just asked on the original thread over there if they have any concerns blessing our fork. Assuming no issues there, I don't think we need to worry.

[2015-06-02 18:52] esjewett commented on #3
Created file - need to add author names as they contribute.

[2015-06-04 14:00] esjewett opened #4 "API for groups to have knowledge of add/remove vs. filter operations"
See below for more detailed approach. Needs to be done for

 - [x] group()  (in pull request #20)
 - [x] groupAll()
 - [x] crossfilter.groupAll()

[2015-06-09 13:09] #1 closed

[2015-06-09 13:11] esjewett commented on #2
Github's a bit over-aggressive about closing referenced issues sometimes ;-)

[2015-06-09 13:27] gordonwoodhull commented on #2
haha, "does not fix ..."!

[2015-06-09 13:42] gordonwoodhull commented on #2
@esjewett, looks like you already forked the wiki.

I updated the home page with the same stuff from CONTRIBUTING.md, touched gh-pages and made a dummy commit in order to launch crossfilter.github.io

[2015-06-09 13:46] esjewett commented on #2
@gordonwoodhull Looks like it came across, indeed. Was it just not turned on, or did I completely miss it? In any case, all is well! I will close this and we can begin on the harder work of actually bringing the codebase up to speed.

[2015-06-09 13:46] #2 closed

[2015-06-09 13:49] esjewett opened #6 "crossfilter.remove() to take a test function argument"
Copy of https://github.com/square/crossfilter/issues/109.

Commit to be made into a pull request: https://github.com/esjewett/crossfilter/commit/09d5ac158f0fc1bb6498fb26d73b0ca0cccbd36b

If anyone sees issues with this, please let me know here. We can also discuss on the PR once that happens.

[2015-06-13 18:26] esjewett opened #8 "Updates to remove Square branding"

[2015-06-13 18:27] esjewett commented on #8
Per discussion and request in https://github.com/square/crossfilter/issues/151

[2015-06-13 18:57] esjewett opened #9 "New name?"
Might make sense to decide on a new name for both the organization and the project (motivated in part by discussion in https://github.com/square/crossfilter/issues/151)

Advantages of a new name:

 1. Reduced confusion regarding which project is which
 2. NPM/Bower registration
 3. Not jerky :-)

Disadvantages of a new name:

 1. Discoverability for existing Crossfilter users will be reduced signi

[2015-06-13 18:57] #8 closed

[2015-06-13 19:46] tannerlinsley commented on #9
Crossfilter2 is cool.  It definitely would minimize the disadvantages, and I think it gives the appropriate amount of consideration to square without hijacking their brand.

[2015-06-13 19:52] tannerlinsley opened #10 "Supporting +32 dimensions"
As proposed here: https://github.com/square/crossfilter/pull/75, this could be an awesome feature to **Crossfilter2** (name pending ;)  From the looks of it, it would need some reconsideration and better testing for anything to go forward.  I'd like to hear from @sciyoshi (the original PR creator) on this as well.

[2015-06-13 20:23] gordonwoodhull commented on #8
Whoops. Thanks @esjewett, did not notice that.

[2015-06-13 20:29] gordonwoodhull commented on #9
Crossfilter2 sounds good to me. They brought it deep into 1.*, let's take it to 2.0!

[2015-06-14 09:55] gsklee commented on #9
+1

[2015-06-15 16:46] derekperkins commented on #9
I'd rather leave the name the same. https://github.com/infochimps-labs/cube didn't rename anything. I don't think we're planning on any breaking changes or anything that would necessitate a version bump to 2.0, but that's what it sound like. We're mostly looking at building an ecosystem around the existing crossfilter functionality, so leaving the name the same will be the best for discoverability

[2015-06-16 03:55] gordonwoodhull commented on #9
It is probably only necessary if development continues on the original, which is unknown.

True, the only breaking change I've heard about is the multiple filter set mentioned by @jasondavies here: https://github.com/square/crossfilter/issues/109. Sounds like @esjewett's proposal for a delete filter function was not a breaking change.

[2015-06-16 04:27] derekperkins commented on #9
It seems pretty clear to me that there is no development forthcoming on the original repo. RandomEtc said that he would be willing to link to this repo once we've made enough progress. I understand the hesitation by Square to bless us with the crossfilter branding at this nascent stage, but assuming we provide what we are planning, we should quickly be able to migrate the bulk of crossfilter users

[2015-06-16 19:43] esjewett commented on #9
I generally agree that a name-change is not necessary just because it's a fork. My only real concern is how we are going to manage npm/bower registration that isn't super-confusing without changing the name. Thoughts?

I also agree on not needing to rename due to breaking changes, as we don't have any on the table. My delete proposal, the 32+ dimensions proposal, and even the web workers proposal

[2015-06-17 02:43] derekperkins commented on #9
npm/bower is tougher.
- cf
- cfilter
- crossfilter2
- crossfire :)
![image](https://cloud.githubusercontent.com/assets/3588778/8198752/576f1278-1468-11e5-892c-d6c20c01b9cb.png)

[2015-06-17 03:13] gordonwoodhull commented on #9
I think it's pretty common for the npm / bower package name to be different from the repo name, especially with a suffix.

[2015-06-17 13:06] esjewett commented on #9
Ok, then I'd be ok leaving the name as is for the moment. On vacation for the next week here but planning to look at npm/bower registration and my enhancement issues when I get back.

On Tue, Jun 16, 2015 at 8:13 PM -0700, "Gordon Woodhull" <notifications@github.com> wrote:

I think it's pretty common for the npm / bower package name to be different from the repo name, especially with a suffix.

—

[2015-07-27 16:30] tannerlinsley opened #12 "crossfilter.all() method?"
It would be great to not have to keep a copy of the raw data around if one could simply call an `.all()` method on the crossfilter instance and get back a raw array of the rows.

There are other ways of doing this with groupings and what not, but I say skip the overhead and provide a means to dump the data.

Thoughts?

[2015-07-27 16:54] esjewett commented on #12
I think this is a good idea. The only thing we need to discuss is possibly protecting the internal data structure so that modifying the array returned by crossfilter.all() will not modify the internal data structure. However, since I believe the internal data structure maintains references to the external array elements anyway, I'm not sure if this is important. For example:

[code]

Which is to s

[2015-07-27 17:51] tannerlinsley commented on #12
PR #13

[2015-07-27 19:46] tannerlinsley commented on #9
We should get this thing registered on npm/bower.  I would vote a `crossfilter2` suffixed name here.  Sure, I wish we had the original, but it sounds like that's not going to happen any time soon.

[2015-07-27 19:55] esjewett commented on #9
Agreed.

[2015-07-27 20:21] #12 closed

[2015-07-27 20:22] tannerlinsley commented on #9
I just released `1.3.12`.  Not anything monumental, but yes, it did merit it's own release.

[2015-08-06 23:32] TomNeyland commented on #10
:+1:

[2015-08-06 23:45] tannerlinsley commented on #10
There seem to be quite a few changes that took place in https://github.com/square/crossfilter/pull/75 to make this function.  When I previously tested it, there were a few errors.  I'm not familiar enough with the codebase to understand all of the changes at this point.  But I know it came close.

[2015-08-07 00:40] TomNeyland opened #15 "Create a gitter.im room for this repo"
These really help facilitate community and discussion

[2015-08-07 00:40] derekperkins commented on #15
:+1:

[2015-08-07 00:41] esjewett commented on #10
I honestly have not been able to look at this in detail, but I think the direction of the original pull request is right, in that it allows the use of multiple typed arrays for the filters. I think we could probably work from the base introduced here. @tannerlinsley - would you want to merge the changes from square#75 into a branch in this repo and we can start attacking test failures?

[2015-08-07 02:27] tannerlinsley commented on #10
Yeah I'll take care of it.
On Thu, Aug 6, 2015 at 6:41 PM Ethan Jewett <notifications@github.com>
wrote:

[2015-08-07 02:28] tannerlinsley commented on #15
I'll take care of it.

[2015-08-07 03:51] sciyoshi commented on #10
@tannerlinsley @esjewett the latest patch from square#75 was working well for me, and has test cases for filtering with >32 dimensions. I'd welcome you guys to give it a shot and see how it works for you :)

[2015-08-07 04:20] tannerlinsley commented on #15
@gordonwoodhull beat me to it!

[2015-08-07 04:20] #15 closed

[2015-08-07 04:38] tannerlinsley commented on #10
K I've merged in https://github.com/square/crossfilter/pull/75 to a new branch: https://github.com/crossfilter/crossfilter/tree/feature-32-plus-dimensions

[2015-08-07 14:20] esjewett commented on #10
I've looked more carefully this morning and I think this is OK. I've made a performance micro-optimization on the for loops in the new code to bring it in line with the rest of the Crossfilter style, but I don't think this optimization makes much of a difference (likely no difference in Chrome, less than 1% difference in other browsers, from what I've seen).

In the discussion on square#75, it see

[2015-08-07 14:55] tannerlinsley commented on #10
Agreed
On Fri, Aug 7, 2015 at 8:20 AM Ethan Jewett <notifications@github.com>
wrote:

[2015-08-07 16:28] tannerlinsley commented on #10
I just put this through the ringer on our app, and it worked flawlessly.  Just let the dimensions fly.  I think I got up to like 120+  Speed was still pretty good. I couldn't tell the difference.

[2015-08-07 16:28] tannerlinsley commented on #10
It's also passing all tests.

[2015-08-07 21:00] esjewett opened #18 "Return existing dimensions and groups through an API"
crossfilter.dimensions()
dimension.groups()

[2015-08-07 21:48] gordonwoodhull commented on #18
Doesn't this beg the question of what to do with the dimensions and groups once you've fetched them?

Dimensions and groups don't have any getters, either.

[2015-08-08 02:02] esjewett commented on #18
Yes, that's right. A getter for the accessor that was passed to the dimension or group on creation would probably be a good addition.

But for my immediate purposes I mostly am thinking about garbage collection. I tend to work on apps that create and remove dimensions and groups dynamically based on user actions, and with Palladio right now we are starting to work on better support for 3rd-party/c

[2015-08-12 13:56] esjewett opened #19 "Merge array extension fix from square/crossfilter"
https://github.com/square/crossfilter/commit/0be70ae431c71e68c7385a0dc913f1d2100b199b

[2015-08-12 16:19] gordonwoodhull commented on #19
Done in bb606ce1749912f000e4d9fc936732e596aec343

[2015-08-12 16:19] #19 closed

[2015-08-12 16:24] esjewett commented on #19
Thanks - that was quick!

FYI - @tannerlinsley I think this has a small impact on the 32+ dimension stuff. We may want to merge it into that branch.

[2015-08-26 21:16] sciyoshi commented on #10
Any reason this can't be merged now? Are we waiting for more intensive test cases?

[2015-08-26 21:25] gordonwoodhull commented on #10
I'm okay with merging it without better test cases. I would be more comfortable if it were properly tested, but I haven't had time to write them myself.

We had also talked about releasing it as an alpha for a while. That's something I could help with, if @esjewett doesn't want to deal with the npm and versioning nonsense. I'm pretty familiar with that.

[2015-08-27 12:49] esjewett commented on #10
@sciyoshi @gordonwoodhull Better tests would be good, but I'd also be OK merging it. We definitely need to do an alpha. I'm just a flake on this stuff. I'll get it set up. Version "2.0.0-alpha-1"?

[2015-08-27 13:01] esjewett commented on #10
Hmmm. "2.0.0-alpha.01" seems more canonical and gives us room to grow, as it might be a while before we do a full 2.0 release. Will go with that.

[2015-08-27 13:06] gordonwoodhull commented on #10
I think semver wants "2.0.0-alpha.2" (with a dot). Technically 1.4.* is probably also ok since this doesn't break the interface, right?

[2015-08-27 13:08] esjewett commented on #10
Either -alpha-2 or -alpha.2 is OK because the dash character is allowed as a character after the dash. But the identifiers are supposed to be dot-seperated after the dash, so I agree that alpha.01 is right. I just published alpha.01 without this merged. Will now merge and publish alpha.02 with the 32+ dimension support.

[2015-08-27 13:15] esjewett commented on #10
Anyone have any brilliant ideas on how to test if https://github.com/crossfilter/crossfilter/issues/19 is still an issue under this patch? The fixes are not merge-able, obviously. I think @sciyoshi's rewrite fixed the original problem, but struggling to test. I will publish alpha.02 anyway.

[2015-08-27 13:58] gordonwoodhull commented on #10
Just tested it. It was pretty easy to spot by putting a breakpoint on the arrayWiden. I'm not sure if this is a comprehensive test but I saw the widen get hit for a page that shouldn't need it (the dc.js main page) with 1.3.11 but not with 2.0.0-alpha.01

[2015-08-27 13:59] esjewett commented on #10
Nice - thanks!

[2015-09-16 20:32] esjewett commented on #4
This is now coming up as a requirement on [Palladio](https://github.com/humanitiesplusdesign/palladio/issues/57). I'd also like to actually move Palladio away from our custom build of Crossfilter and over to this fork. This is the last issue blocking that move. Specifically, we want to be able to calculate unfiltered aggregations on Crossfilter groups to allow comparison of the value of the group

[2015-09-16 20:48] tannerlinsley commented on #4
I think that'd be great. We could use those features as well up the road a
bit.
On Wed, Sep 16, 2015 at 2:32 PM Ethan Jewett <notifications@github.com>
wrote:

[2015-09-28 15:39] esjewett opened #21 "Performance regression"
`make test` has a performance regression, apparently on recent versions of node.js.

 quicksort
      ✗ can sort a largeish Uint32Array quickly
        » expected 1167 to be lesser than 600 // sort-test.js:19
  ✗ Broken » 134 honored ∙ 1 broken (6.725s)

[2015-09-30 15:03] esjewett commented on #4
Ok, this is ready to go in pull request #20. It introduces this functionality for dimension.group, dimension.groupAll, and crossfilter.groupAll, along with tests for all of this functionality. `make benchmark` seems to show no performance change for filtering operations, which is what I expected. There will be a small performance impact if there are filters in place when building groups, on crossf

[2015-09-30 15:17] esjewett commented on #4
Documentation update is the last paragraph of this section: https://github.com/crossfilter/crossfilter/wiki/API-Reference#group_reduce

[2015-10-02 09:41] alan-unravel opened #22 "Support web workers in crossfilter"
As mentioned [here](https://github.com/square/crossfilter/issues/116)

[2015-10-02 09:48] esjewett commented on #22
Thanks for creating the issue. I've done some research on this and I'm not optimistic about being able to use Transferrable to move internal Crossfilter calculation to a Web Worker, and the serialization/message-passing approach is too slow for the most part. If you or anyone else has something in mind for the internals of Crossfilter that you think might be able to be pushed out to a Web Worker (

[2015-10-02 09:51] alan-unravel commented on #22
That would be great, I think crossfilter could benefit from such an extrapolation going forward as it can be quite cumbersome and blocks UI frequently when filtering large datasets.  I will definitely look into it when time allows, perhaps tag this as 'discussion' so people will discuss. Thanks.

[2015-10-02 14:25] #4 closed

[2015-10-02 14:26] #10 closed

[2015-10-21 18:28] tannerlinsley opened #23 "Support for Events or Pub/Sub"
After discussing a few awesome ideas with @esjewett, I feel that there is a need to think about some integration points for crossfilter.  One in particular is some way to know externally if the state or data inside a crossfilter has changed.  Adding, removing, and filtering data are the three actions that come to mind.

In our current in-house solution, we are following up all of our calls to thes

[2015-10-21 18:58] tannerlinsley commented on #23
For reference: https://github.com/esjewett/reductio/issues/25

[2015-10-21 19:05] derekperkins commented on #23
+:100: What would be the integration path? Would there be an extra function along the lines of `enableCallbacks` or is the performance hit when there are no listeners insignificant?

[2015-10-21 19:14] tannerlinsley commented on #23
I don't think it would affect crossfilter performance almost at all.  Obviously you would be able to do what ever you want in those callbacks, so you personally could make it slow, but this is simply "Hi, I'm crossfilter.  Just so you know, I just added/removed/filtered records."  Possibly one liners here and there throughout the code to trigger those callbacks.

[2015-10-21 19:15] tannerlinsley commented on #23
There is also the question of how those callbacks would be registered.  I'm sure we've all used tons of ways to register and deregister callbacks.  I personally enjoy when an addCallback type function returns a function that in turn deregisters it.  Much like angular.js $scope events.

[2015-10-21 19:17] tannerlinsley commented on #23
At this point, @esjewett also mentioned just starting with a high level `onChange` event to handle everything, and that as soon as we start popping in integration points, things could get crazy going forward unless they're well structured and absolutely needed.

[2015-10-21 19:19] derekperkins commented on #23
I'd say go ahead and submit a PR so we can use that as a base for discussion. If you and @esjewett are behind it, let's get started.

[2015-10-21 19:25] esjewett commented on #23
PR would make sense. Want to get @gordonwoodhull's input as well. As far as the PR, I would recommend invoking the callback at the end of crossfilter.add, crossfilter.remove, and dimension.filter methods rather than trying to plug into the internal Crossfilter listener system.

[2015-10-21 20:09] tannerlinsley commented on #23
@esjewett, I agree. The internal system is very fitted to crossfilter.
Might be hard to reason about for our purposes.  I'll work up a PR by the
end of the day.

On Wed, Oct 21, 2015 at 1:25 PM Ethan Jewett <notifications@github.com>
wrote:

[2015-10-22 03:51] gordonwoodhull commented on #23
This fits into the goal of making crossfilter more transparent. I appreciate that the original authors wanted to keep the API small, but it's kind of hard to use crossfilter as the point of integration between different modules which don't know about each other. And we naturally end up using it that way.

Obviously the callbacks should report the major operation, rather than row-by-row changes.

T

[2015-10-26 23:26] #23 closed

[2015-11-06 19:55] tannerlinsley commented on #22
I've been thinking about this, looking at @esjewett's LCA implementation.   I agree that it is highly unlikely that crossfilter could have a foot on both sides, but putting it all into a worker and communicating with it via a transparent parallel api is really cool.

The hope I have is that this parallel api could be made in such a way that it's enclosed in a drop-in plugin, doesn't require any fi

[2016-01-07 14:40] gordonwoodhull opened #25 "access to the records in each bin"
It seems in line with our general philosophy on this fork to provide access to the underlying row data for each bin in a group.

This is useful for "complex reductions" such as determining the min, max, median of the rows. Currently one has to maintain an array which duplicates information already maintained by crossfilter groups in the [`groupIndex`](https://github.com/crossfilter/crossfilter/blo

[2016-01-07 14:47] alan-unravel commented on #25
Could we make it a generator? seems like that might work for reductions without The Space Complexity, the user can just exhaust the iterator if they wish to have a carbon copy.

[2016-01-07 14:50] gordonwoodhull commented on #25
So instead of returning all the records, `allRecords` could return `{key, recordsFn}` - yeah! That makes sense.

[2016-01-07 14:51] gordonwoodhull commented on #25
Or I guess you mean an ES6 generator - I'm not familiar with those but it's probably syntactic sugar on the same idea.

[2016-01-07 14:52] alan-unravel commented on #25
I did but I'm sure they are quite similar

[2016-01-07 14:57] esjewett commented on #25
Great idea. I agree that we should provide a function (or generator if/when we go ES6) that will return all the records so that we don't generate the arrays of records if it's not necessary.

Question: Instead of providing an array of functions to get at records in each bin, should we provide the functions in the reducer? If the reducers want to expose the records, they can attach the function to

[2016-01-07 14:58] esjewett commented on #25
Oh, I'd also say that I definitely think we should return records and not indices. I don't think we want to guarantee that the order of records we return from any of these functions match any internal ordering that we maintain.

[2016-01-07 15:02] gordonwoodhull commented on #25
Well, it's not an internal ordering, it's the indices of the records in the original data passed to crossfilte. But I'm okay with either interface.

That's a smart idea to provide access to the reduce functions rather than external access. That will simplify the interface and is the more common use case. I guess we could also add a convenience method like `reduceSum` e.g. `reduceRows` so that the

[2016-01-07 15:07] esjewett commented on #25
Yeah, true. I hadn't remembered that - though we don't really guarantee that that is the case, do we (that the indices match the passed-in data)? I'm also not sure what happens once you start using crossfilter.add and crossfilter.remove. Maybe the function could return an array of records by default, but could take a boolean parameter and if true it would return an array of indices? There are defi

[2016-01-07 15:32] gordonwoodhull commented on #25
I am pretty sure that crossfilter just keeps the original array. Then add and remove change the indices in the way you'd expect. You're right this is somewhat dangerous and might close doors to later optimizations or features.

I don't think if it would be any less efficient to return the records, since everything in JavaScript is by-reference so nothing is copied. You get back references to exact

[2016-03-02 01:09] tannerlinsley commented on #25
Where are we on this thought train?  It seems like this could in face enable some very power features having to do with (but not limited to) post-processing aggregations?

[2016-03-09 22:49] gordonwoodhull commented on #25
I like it and I think it's pretty clear cut except for the name. "reduceRows" is wrong because it's really  "don't reduce".

I think it should be possible to implement without performance degradation to other features, even if it itself is potentially expensive. "Pay for what you use."

[2016-03-10 00:17] derekperkins commented on #25
:+1:

[2016-03-16 15:16] esjewett opened #31 "Performance tracking issue"
Currently in the 2.0.0-alpha releases we have some performance regressions compared with the original Square repo. Reasons:

- [X] The move to support 32+ dimensions (#17 - in my original testing this was worth about a 5-10% performance hit on filtering, which we consider worthwhile for the functionality improvement and for the code-readability improvement). Therefore, no change is required here a

[2016-03-16 15:22] esjewett commented on #22
This is being addressed in crossfilter/crossfilter-async. Closing for now. Please continue discussion over there. Development of a Crossfilter-compatible wrapper is a bit stalled out right now :-/

[2016-03-16 15:22] #22 closed

[2016-03-16 15:23] esjewett commented on #18
So, should we close this? Seems like this kind of functionality is going to live in http://github.com/crossfilter/universe

[2016-03-16 15:47] tannerlinsley commented on #18
Yeah, we should put that in Universe.

[2016-03-16 17:35] #18 closed

[2016-03-16 21:13] drarmstr commented on #31
If it's helpful, as a point of reference, I did some performance measurements compared to square/crossfilter with some of my workloads and was getting about a 25% performance regression.  I tested with both a smaller dataset with about 200k elements and a larger one with over 2 million.  I can perform more tests if helpful, but it seems like we have a significant amount.

[2016-03-16 21:17] esjewett commented on #31
@drarmstr That aligns pretty well with what I am seeing from `make benchmark` as well. If you want to keep an eye on this issue, I'll update when there are changes.

Also, I just published version 1.3.13 in crossfilter2 on NPM, which doesn't have any of these changes so it should have performance basically identical to the current version the square repo. These bigger changes will be coming in ver

[2016-03-16 22:08] nreese opened #33 "expand dimension.top() and dimension.bottom() to include offset parameter"
I am looking for a simple way to access the middle of a crossfilter dimension. Example usage is pagination on crossfilter dimension.

I can do this by using the existing API of top() or bottom() and then just grabbing the piece that I need but this seems inefficient to get all of the data to then just use a tiny piece.

Would it be possible to extend the top() and bottom() API to include an option

[2016-03-16 22:26] esjewett commented on #33
Sounds reasonable. Others agree?

Technically, it should be a pretty simple change to the top/bottom functions in the dimension. If you'd like to try a pull request with test cases and this change, that would be excellent.

[2016-03-16 22:28] tannerlinsley commented on #33
Sounds very good. I say go for it. Write the new tests and submit a PR.
Spectacular idea
On Wed, Mar 16, 2016 at 5:26 PM Ethan Jewett <notifications@github.com>
wrote:

[2016-03-21 15:30] lpgeiger opened #35 "Release Notes"
Please update release notes so we can know what has changed from Square's legacy crossfilter. Thanks!

[2016-03-21 16:34] drarmstr commented on #31
One thought on improving the performance regression for 32+ dimensions would be that since the filter checking is now abstracted in `crossfilter_bitarray` is that two implementations could be provided.  One simpler one for <= 32 dimensions and this more complex one with subarrays for > 32 dimensions.  As the array is widened it would switch implementations over as it crosses the 32 threshold.  Thi

[2016-03-21 16:36] esjewett commented on #35
We have not had a new release yet. In short, 1.3.* here (and in 'crossfilter2' on NPM) should track the Square Crossfilter 1.3.* release.

1.4.* will be released here and will be based on the current master branch. We are doing alpha releases as 1.4.0-alpha.01, available on NPM. Currently the 1.4 alpha includes the following changes. This is as good a place to track future release notes as any :-)

[2016-03-21 16:40] esjewett commented on #31
@drarmstr I really have very little intuition as to whether that would help or hurt :-) If you'd like to try it and report back, go for it! Personally, I suspect that the support for array dimension performance regression and the de-opt problems are bigger fish, but if you want to look at any of these problems we would be very grateful.

[2016-03-21 16:49] drarmstr commented on #31
@esjewett Are you sure the de-opt is a regression?  I thought I saw that on the Square version as well.

Ok, I may experiment with this then.  But, I'm still on the Square version due to this regression and will probably wait until there is some compelling new feature to justify the investigative time of migrating.

Is someone planning to look at "array dimensions" performance?  I can also wait ti

[2016-03-21 16:54] esjewett commented on #31
@drarmstr It is on the Square version as well. At some point Chrome either stopped optimizing the type of type conversions being done, or it never optimized them but started warning.

[2016-03-21 16:56] esjewett commented on #31
@drarmstr Oh, I'm planning on looking at the array dimension performance, but I have little time until maybe summer :-( @tannerlinsley may be able to do something sooner, or I might be able to carve out some time, but we'll see. FWIW, our releases on the 1.3.* release don't have the new stuff, so they should have the same performance as the latest Square release.

[2016-03-23 15:46] nreese commented on #33
is there a wiki describing the build process and contributing guidelines?

[2016-03-23 15:51] esjewett commented on #33
@nreese Not yet. Here's the process though: Fork the repo, clone your repository locally, `npm install`, `make test` (should all pass), make your changes to files in the src/ and test/ directories, squash commits if that makes sense, and send a pull request.

[2016-03-23 15:52] esjewett commented on #33
Oh, right, and run the tests after your changes. :-)

[2016-03-23 18:15] nreese commented on #33
Thanks  - that worked.

Where are the API documents generated from?

On Wed, Mar 23, 2016 at 9:52 AM, Ethan Jewett <notifications@github.com>
wrote:

[2016-03-23 18:39] esjewett commented on #33
@nreese API docs are all in the wiki. You can edit it (I think?) or we can update it after the pull request.

[2016-03-23 18:52] nreese commented on #33
Does it make sense to update the bottom() method in a similar fashion? For
symmetry it sounds like a good idea but I am not sure of the usefulness

On Wed, Mar 23, 2016 at 12:39 PM, Ethan Jewett <notifications@github.com>
wrote:

[2016-03-23 18:59] esjewett commented on #33
@nreese Yes, please do. If people are paginating, they are probably doing a sorted, often tabular display. Often in this scenario the table sort can be user-defined to sort up or down.

[2016-03-31 15:12] nordfjord opened #38 "Feature request: remove method which removes anything not in the current filter"
This would be useful for memory management when using crossfilter to maintain an aggregation of the "last minute" of live data.

# Current way of achieving this
[code]

# With the requested feature

[code]

[2016-03-31 16:09] gordonwoodhull commented on #38
I think #6 is more general and more convenient.

[2016-04-05 16:37] esjewett commented on #38
I'd agree, though maybe there is room for both. If you want to take a shot at fixing #11, go for it.

[2016-04-05 20:05] tannerlinsley commented on #38
I think #11 would lay some of the ground work for this too.
On Tue, Apr 5, 2016 at 11:37 AM Ethan Jewett <notifications@github.com>
wrote:

[2016-04-06 16:31] #9 closed

[2016-04-07 11:34] ksknysn opened #40 "drill through"
Hi,
I have a dataset about tickets like (total tickets):

Depatment |     Group |     Topic  |           SubTopic
-------- |  ------- | ------------ | ----------
Sales,50     |               System,20 |  Web,8  |           Design,6
 IT ,35    |              Software,15 |  Outsource,7    |          Control,8
  |             Workers,10   |  Report,7 |  Overtime,8
  | | Net,20 | Bugs,5
  | |  | IP,3

[2016-04-07 11:42] ksknysn commented on #40
![image](https://cloud.githubusercontent.com/assets/16814924/14349916/e53dc898-fcce-11e5-8316-dc739a792261.png)
this is my real report...

[2016-04-07 12:08] rowanv opened #41 "Get count of the number of records filtered if only one dimension is filtered"
When one has a certain dimension, it is often useful to know how many records would be in that dimension if that dimension were filtered. For example, if I have a crossfilter with 10 data points and filter dimension A so that it now only goes from [n, m], and only 9 out of 10 records are in my selection, it can be useful to display how many records remain in that selection. There are currently way

[2016-04-07 15:39] esjewett commented on #40
This is a better question for [Stackoverflow](http://stackoverflow.com/questions/tagged/crossfilter) or the [mailing list](https://groups.google.com/forum/#!forum/crossfilter). Will close this issue.

I would say you can certainly do this with Crossfilter if I'm understanding the question. You should look at examples and tutorials (Google "Crossfilter tutorial") that will all explain the first ste

[2016-04-07 15:39] #40 closed

[2016-04-07 16:40] derekperkins commented on #40
You might also check out github.com/crossfilter/universe
On Apr 7, 2016 10:39 AM, "Ethan Jewett" <notifications@github.com> wrote:

[2016-04-11 13:29] gordonwoodhull opened #42 "register crossfilter2 with cdnjs"
was just about to add dependencies to someone's fiddle and noticed we aren't published. i'm not in the right mode to do this right now (i remember some unavoidable huge checkouts, even though you don't have to save all 12GB on disk) but i can take this on later if no one else wants to.

[2016-04-12 18:26] tannerlinsley commented on #42
@etimberg, didn't you just deal with this on github.com/nnnick/Chart.js?

[2016-04-12 18:27] esjewett commented on #42
I usually use Rawgit for fiddles. Will that work for the moment?

[2016-04-12 18:36] etimberg commented on #42
@tannerlinsley I did. They still haven't accepted my PR, nor commented on it. :frowning:

[2016-04-12 19:00] tannerlinsley commented on #42
@cdnjs :(

[2016-04-14 15:15] MarkHerhold opened #44 "Proposal: Expose Applied Filters"
I'm running into an issue where I'd like to be able to determine what filters crossfilter is applying to my data. I don't want to keep track of the filters myself outside of crossfilter because that is an issue with regards to 'separation of concerns' and other basic software development fundamentals and a great opportunity for bugs.

[Related StackOverflow question](http://stackoverflow.com/quest

[2016-04-14 15:36] gordonwoodhull commented on #44
I agree it's a good idea, and one of our goals in this fork is greater transparency.

A couple nits (please edit your proposal if you agree):
 - there is only one filter per dimension, so that one should be singular `currentFilter`
 - I think you mean that `crossfilterInstance.currentFilters` should return all filters for all dimensions

The more serious objection is that this won't work for [filt

[2016-04-14 15:55] MarkHerhold commented on #44
@gordonwoodhull I agree with your bullet points. I'll update my proposal shortly.

Regarding filter functions, I don't see why we can't just return a reference to the filter function itself. This way, users can do whatever they want with the function including use it for other crossfilter filter calls, turn it into text, mutate it (not actually recommended), etc etc. Basically I want to leave the

[2016-04-14 16:13] MarkHerhold opened #45 "Release Process: Please Tag Alpha Releases"
I had no idea there was an alpha release out. (:+1: BTW)

When publishing, please consider the use of `npm version`, which creates a git tag and push with `git push --tags` so it shows up in [releases](https://github.com/crossfilter/crossfilter/releases)!

[2016-04-14 16:33] gordonwoodhull commented on #44
I don't see why they are not events just because these are not DOM elements. Is `subscribe` a Node convention?

I haven't seen the `:` syntax for events, either, so it's probably my unfamiliarity. I guess most of my experience in Javascript has been around d3.

[2016-04-14 16:55] esjewett commented on #45
We've been doing this, but it's a mess. We originally thought we were going to release v2.0, so there are several 2.0 alphas, but the latest is 1.4, so the latest alpha tag is 1.4.0-alpha.01. You can see it if you click "show 6 newer tags" on the releases page. It looks like there is a manual step we have to take as well in order to make the release show up on the page by default.

[2016-04-14 16:57] esjewett commented on #45
They should show up on the releases page now :-) And 1.4.0-alpha.01 is on npm, but you have to specify  is exactly, is my understanding. There have also been several changes since 1.4.0-alpha.01, so we are due for a 1.4.0-alpha.02. I will try to get that out soon.

[2016-04-14 16:57] #45 closed

[2016-04-14 17:08] esjewett commented on #44
I agree this is basically a good idea. Shouldn't be hard to implement either.

Regarding the subscribe callback, please take a look at the currently undocumented (paging @tannerlinsley ;-) ) crossfilter.onChange, which will notify of filter updates. If you want to add functionality to that regarding filters, I think that would be fine. I basically agree with @gordonwoodhull that .on('event', ...)

[2016-04-14 17:15] tannerlinsley commented on #44
.on() is my vote. Some If not all of these features exist in universe. If
we're talking about separation of concerns, then my first guess would be
that this would be a universe thing. Tracking, saving, and restoring filter
state Is what it does best. I would lean towards keeping crossfilter
stateless and using it as the engine for universe. The on Change event is
fantastic. It supplies all of the

[2016-04-14 17:18] esjewett commented on #41
Note - unless I'm mistaken, this basically just requires adding a new check function on https://github.com/crossfilter/crossfilter/blob/master/src/array.js that checks if a specific bit (the dimension's bit) is set or not. It's kind of like the new zeroExceptMask except that it's actually a lot simpler. Then when this function is called we can just loop through the filter array with this test func

[2016-04-14 17:39] esjewett commented on #44
I'd agree with using Universe, but since Crossfilter is already storing these filters, I think it would make sense to provide a pretty dumb mechanism to return them?

One additional note: If we ever support native multi-value filters (e.g. Filter to 'A' or 'B', for which we currently need to use a filterFunction), this is going to pose a bit of a problem.

[2016-04-14 17:42] tannerlinsley commented on #44
Universe tracks multi values as is and applies them under the hood with
functions right now. Going native would be cool too. If crossfilter wanted
to track this info, that's fine. All the necessary logic is In universe
right now but is easily portable.
On Thu, Apr 14, 2016 at 1:39 PM Ethan Jewett <notifications@github.com>
wrote:

[2016-04-14 17:42] MarkHerhold commented on #44
It seems to be that crossfilter is inherently stateful as-is. I am just looking to make it the source of truth rather than tacking extra hacks outside of crossfilter.

@esjewett I thought of the multi-filter issue as well. It would be trivial to make everything in the proposal say "filters" and return an array as I had before.

[2016-04-14 17:43] MarkHerhold commented on #44
@tannerlinsley going forward, universe could ask crossfilter what filters were applied. I don't think anything else would have to change.

[2016-04-14 17:45] tannerlinsley commented on #44
I need to update the docs for universe. But it supports tracking exact,
ranges, custom functions and inclusive arrays (multi value). At any given
time you can see what's applied, change it, etc. Another value is in the
toggling capability. You can replace or toggle single arrays of values.

Yeah I would be okay moving what makes sense to crossfilter.
On Thu, Apr 14, 2016 at 1:41 PM Tanner Linsley

[2016-04-14 17:46] esjewett commented on #44
@MarkHerhold No, that's not really what I meant. It would still be a single filter, but a "special" kind. Not worth worrying about for this use case. It is correct to design this to return a single filter, not an array of them.

[2016-04-14 17:48] MarkHerhold commented on #44
@esjewett ah, gotacha. My apologies.

I updated the proposal to say `.on()` instead of `.subscribe()`. I admit I am not sure if we should invest more in .onChange() and document it or if we should go ahead with `.on()`. Thoughts?

[2016-04-14 17:50] esjewett commented on #44
Sounds like @tannerlinsley is OK with changing `onChange` over to the `on` syntax, with callback functions assigned to particular events instead of a callback function that receives an event string. Is that correct?

Either way, the `onChange`/`on` and the `dimension.currentFilter`\`crossfilter.currentFilters` changes are separate.

[2016-04-14 17:52] tannerlinsley commented on #44
I'm alright with that. On(event name, cb) with any appropriate payload
being sent through the callback.
On Thu, Apr 14, 2016 at 1:50 PM Ethan Jewett <notifications@github.com>
wrote:

[2016-04-15 19:14] MarkHerhold opened #47 "global variable leak"
I'm turning my inline commit comment into an issue for visibility.

Global variable leak introduced in:
https://github.com/crossfilter/crossfilter/commit/a9d05f03395a955015dbb7fd10094b9911e24939#diff-6dcf89a9f393ad27fc6f8896a6e987ae

See comment here: https://github.com/crossfilter/crossfilter/commit/a9d05f03395a955015dbb7fd10094b9911e24939#commitcomment-17125329

[2016-04-17 01:28] esjewett commented on #47
I'm not sure I follow - it looks like that is in a closure. How does it make a global variable available? Or does this mean something else? Thanks!

[2016-04-17 01:44] MarkHerhold commented on #47
It doesn't matter that it is in a closure when `'use strict'` is not present. Excluding the use of `var` without `'use strict'` automatically makes the variable global. I only found this issue because it was global in the chrome debugger, so I am pretty sure I am correct about these leaking.

Here's an example program demonstrating the same behavior:

[code]

Output:
[code]

Adding `'use strict'`p

[2016-04-17 02:05] MarkHerhold commented on #47
@esjewett note that I re-added `var` in PR #48 so we may not need to take any action if #48 is completed soon.

https://github.com/crossfilter/crossfilter/pull/48/files#diff-6dcf89a9f393ad27fc6f8896a6e987aeR272

[2016-04-17 02:29] gordonwoodhull commented on #47
Oh. Originally I thought you were referring to `old_n0` a few lines down, which is also a problem, but this one is bigger.

[2016-04-17 03:34] esjewett commented on #47
You're right. I was looking at the wrong side of the diff :-/ I think we'll be able to get #48 merged pretty quickly.

[2016-04-19 18:29] esjewett commented on #47
#48 was merged, so I'm marking this as closed.

[2016-04-19 18:29] #47 closed

[2016-04-19 18:34] esjewett commented on #3
We need to update the AUTHORS file. Would the following people please let me know how you would like to be listed, or send a pull request?

@MarkHerhold
@nreese
@drarmstr
@tannerlinsley
@gordonwoodhull

If I've missed anyone else, please feel free to speak up.

[2016-04-19 18:37] esjewett commented on #3
Whoops - also forgot:

@sciyoshi - let me know how you'd like to be listed (name and email address for the 32+ dimension work).

And @nordfjord, did you have a contribution that somehow escaped the commit log, or was that on Reductio?

[2016-04-19 18:40] esjewett commented on #3
And we should likely list the authors who contributed under Square if they like:

@jasondavies
@RandomEtc
@mbostock

Thoughts/requests on this from anyone?

[2016-04-19 19:33] nordfjord commented on #3
@esjewett I have no contributions to crossfilter, only a passing familiarity with the inner workings.

[2016-04-29 14:25] sciyoshi commented on #3
Thanks @esjewett! You can add me as `Samuel Cormier-Iijima <sciyoshi@gmail.com>`

[2016-04-29 14:59] esjewett commented on #3
@sciyoshi Done - thanks for you contribution!

[2016-05-02 02:20] MarkHerhold opened #53 "Unused Variables"
I found these warnings coming from webpack when minifying crossfilter. This issue is a reminder for me or someone else to take a look.

[code]

I am thinking of adding eslint to catch stuff like this.

[2016-05-02 18:26] MarkHerhold opened #54 "Remove component.json?"
component is dead. See https://github.com/componentjs/component/issues/639
I think we should remove component.json and drop support for it going forward.

Thoughts?

[2016-05-09 22:13] esjewett commented on #54
Fair enough.

[2016-05-10 20:05] #54 closed

[2016-05-16 15:05] esjewett commented on #33
I think this was closed by the reference pull request being merged. So I'm closing :-)

[2016-05-16 15:05] #33 closed

[2016-05-16 15:06] #3 closed

[2016-05-26 03:21] MarkHerhold commented on #53
I've started looking into this and there are a LOT of scoping issues. e.g. `var i` is redefined frequently.

[2016-05-26 04:10] gordonwoodhull commented on #53
Although I'm sympathetic with code cleanup, I want to point out that such efforts add noise to the commit history, making it difficult to interpret previous changes. (E.g. it can make it very difficult to use `git blame` to determine where a line of code came from.)

Not an objection, just a request for moderation with such changes. (For example I might object to application of style guidelines.)

[2016-05-26 04:21] MarkHerhold commented on #53
In order to create a maintainable project, some sacrifices to the commit history must be made. I don't think anyone wants a clean commit history if it means the code is unreasonably difficult to maintain.

That being said, I'm not changing indentation if I don't have to, only variable declarations.

[2016-05-26 04:33] gordonwoodhull commented on #53
Like I said, not objecting, just asking for caution. Thank you!

[2016-05-27 13:28] #53 closed

[2016-05-27 13:30] gordonwoodhull commented on #53
Thinking about this further, I probably just need more powerful git tools. It's mostly Github that makes it difficult to view history past one commit. Thanks @MarkHerhold!

[2016-05-27 13:34] esjewett commented on #53
@gordonwoodhull Thanks for the thought. I personally don't mind messy Git histories, but I'm sympathetic to those who aren't of the same mind. I probably just haven't run into the same sort of problems.

[2016-05-27 13:51] gordonwoodhull commented on #53
It happens to me because whenever there's a line of code I don't understand, I go straight to history to find out where it came from and what lines came with it.

[2016-05-27 20:28] mtraynham opened #59 "Add bower file to 1.3.X"
@esjewett can comment, but see https://github.com/dc-js/dc.js/issues/1149

I was going to create a PR, but it seems you cannot do this if there is no branch to target that represents the 1.3.X releases.  So, [here is my branch](https://github.com/mtraynham/crossfilter-1/tree/1.3.13_bower) that I created off the 1.3.13 tag.  We can go down the PR route, but you'll have to branch off the 1.3.13 tag,

[2016-06-08 14:21] tehsenaus commented on #6
What's the status of this - is your fork stable? What do you need help with?

[2016-06-08 14:25] esjewett commented on #6
Hi,

The development in my fork was never quite correct and has now fallen quite a bit behind the current 1.4.0 alpha releases. If you want to work on it, that would be fantastic. It would probably make the most sense to just start a clean fork from the master branch and reference my fork for ideas, keeping in mind that something was flawed about the approach. Unfortunately I have not had time to

[2016-06-09 17:33] gordonwoodhull commented on #59
I went ahead and created a 1.3 branch in case there are further fixes to this line, bumped the version and artifacts, and published to npm as 1.3.14. Thanks @mtraynham!

[2016-06-09 17:33] #59 closed

[2016-06-09 19:11] esjewett commented on #59
I think for bower we need a tag as well, don't we? And sorry I never go to this :( Dropped the ball on it.

[2016-06-09 19:32] MarkHerhold commented on #59
`bower version patch/minor/major` tags the git repo for you (same as `npm version patch/minor/major`).

http://bower.io/docs/api/#version

[2016-06-09 19:34] gordonwoodhull commented on #59
Whoops, yes, done (the git way - the package.json was already updated). I had hesitated because I wasn't sure if you were intentionally avoiding branches, @esjewett. But then I remembered that git branches are lightweight and can always be ignored.

[2016-06-09 19:35] esjewett commented on #59
Huh, cool. 👍

[2016-06-09 19:36] esjewett commented on #59
@gordonwoodhull Thanks! No, I wasn't avoiding branches. Locally I was branching based on the old tag and then just pushing a new tag instead of a branch, but I think the approach of maintaining a 1.3 branch that we cut releases from is a good one.

[2016-06-12 10:03] siims opened #60 "Enabling 'or' filter"
Hey,

I happened to read [square/crossfilter pull request](https://github.com/square/crossfilter/pull/22), which introduced possibility to apply multiple filters at once. I couldn't find anything related to that from this code base, so I am wondering a) did I miss something when I was going through crossfilter/crossfilter library? b) or what is the reason for not including such seemingly useful fe

[2016-06-12 14:09] gordonwoodhull commented on #60
Hi @siims, it would be a great feature to have. However I don't understand the code or the description of it.

It seems like there would have to be another level of iteration somewhere to work with the extra values and ranges, and I don't see it.

It's been quite a few years, but I wonder if @zackham could comment.

[2016-06-13 05:03] esjewett commented on #60
Sounds to me like it's a good feature and would allow for applying filters with "or" semantics in a more efficient way than with filterFunction. The pull request would need to be rebased against the current master code base and pretty significantly updated as the internals are undergoing some rework.

[2016-06-13 16:27] siims commented on #60
Thank you for information. I would love to see this feature in crossfilter, but as time has no mercy I will use filterFunction for 'or' semantics and keep an eye on crossfilter development. Keep up the good work. Best

[2016-06-13 16:27] #60 closed

[2016-06-13 16:41] zackham commented on #60
@esjewett you mention that the internals are undergoing some rework – would it be welcome for me to take a shot at reimplementing this functionality on current master? Or would it make sense to wait until the internals stabilize?  I'm still using the code from that old PR in production and haven't updated crossfilter, but would be happy to take a shot at it if there was interest.

[2016-06-13 22:20] esjewett commented on #60
@zackham Absolutely! The internal rework is going to be ongoing, and very slow, so just go for it and we'll see if we can get your work finally merged upstream here :-)

[2016-06-13 23:21] gordonwoodhull commented on #60
Oh. I think I see how this works now. When this was implemented there was no possibility to add or remove records from the crossfilter, so there was no need to store the current filter. So it iterates over the passed ranges immediately and values and filters them, and then it's okay that it forgets the ranges/values.

I think to implement something like this now, with the existence of `crossfilter

[2016-06-13 23:36] esjewett commented on #60
I think it could implement a new filter type (like filterFunction or filterExact) that takes a list of arguments and stores it so that it can be re-applied.

[2016-08-11 23:36] keyscores opened #61 ""Maximum call stack size exceeded", on dimension operation of large json file"
I have an 8Mb JSON file, approximately 27K rows. The rows are not always uniform. Some rows might lack a dimension, or that dimension may be 'undefined' or NaN.

The very first operation makes the script fail. It's a simple dimension assignment:
`var dimension = cf.dimension(function(fact) { return fact.title ; });
`
I would assume the iterator function 'return fact.title' would already account fo

[2016-08-11 23:49] gordonwoodhull commented on #61
Hi @keyscores, yes it sounds like you have diagnosed your problem correctly. You need to sanitize your data before passing it to crossfilter, because crossfilter needs data that is strictly ordered, and NaNs are not.

The library was designed this way because any checks would significantly slow it down.

No, the dimension accessor function does not exclude any values. It is just trying to find a k

[2016-08-12 00:08] keyscores commented on #61
Thanks @gordonwoodhull  That is quite helpful. It would be great to see this in the docs.

Perhaps there could be some error handling to catch these cases.

Also I would propose that the library have a fail-safe mode for heterogeneous data. It doesn't seem to slow down the code to add the   || "" ; Are there any other performance penalties to catching these situations?

[2016-08-12 02:37] gordonwoodhull commented on #61
It says it pretty firmly in the documentation for this function:

I'm not really sure what a safe mode would buy us. It would hide some real problems in data, which are better handled by explicit preprocessing because then the assumptions about invalid values are in the code. I think it's better for the library to fail than to mislead.

[2016-08-12 02:40] gordonwoodhull commented on #61
Since this really is the same issue which has been covered a number of places, I'm going to close this. Feel free to open another issue if you have a concrete proposal.

[2016-08-12 02:40] #61 closed

[2016-08-12 13:12] esjewett commented on #61
I agree with @gordonwoodhull's comments.

One thing we possibly could do is put some heuristic checks in to the dimension accessor setter. For example, we could check the accessor function that the user provides against a variety of values and make sure that the values that come out are always naturally-ordered. If they are not, then we could put a warning on the console. I'm not really a fan of t

[2016-08-12 18:05] keyscores commented on #61
I appreciate the comments.
My only suggestion is that the docs somewhere say clearly that the data should be uniform or handled in your function. I can't say that the docs pointed out by @gordonwoodhull are obvious to me.
Secondly, I think "Maximum call stack size exceeded" is not a particularly helpful error. I would propose that specific error handling would be helpful. Currently it's quite hard

[2016-08-13 22:49] esjewett commented on #61
Unfortunately we don't have any control over the error message. The call stack growing out of control is just what happens with a quicksort when there is no natural ordering of the objects being sorted (I believe).

Definitely open to suggestions for updating the docs to be more helpful. Maybe we could provide an example. If you're up for it and would like to suggest some wording, that would be aw

[2016-08-18 00:34] hafen opened #62 "Crossfilter 1.4 alpha cannot be used in webpack projects"
I was using crossfilter 1.3 with no issues in a webpack project.  When updating to 1.4 alpha (installed from npm), my webpack project gave the following error and wouldn't run:

[code]

The culprit was the attempt to import package.json to get the version number: https://github.com/crossfilter/crossfilter/blob/master/src/crossfilter.js#L15.  When I omit that line and hard-code the version here htt

[2016-08-18 02:38] esjewett commented on #62
Out of curiosity, is this purely a loader problem? Specifically, could you use [json-loader](https://github.com/webpack/json-loader) and add this to your webpack.config.js?

[code]

[2016-08-18 02:40] esjewett commented on #62
I ask if this works for you, but if it does, we should figure out how to incorporate this into Crossfilter 1.4 itself. I guess we could have our own webpack.config.js? I don't really know how webpack works :-/ Have been meaning to learn though, so maybe this is my big chance :-)

[2016-08-18 03:12] hafen commented on #62
That worked!  Thanks!  I don't know enough about webpack (as evidenced by my not realizing this was simply a webpack issue) - I just use it because the project I'm working on is built on it.

[2016-08-18 03:56] esjewett commented on #62
Cool - let's actually leave this open. We can probably declare our own dependencies and webpack config so that this issue is solved automatically for others. I'll look into it eventually, or if you or someone else has the time and inclination, feel free to discuss here and open a pull request.

[2016-08-19 15:55] betalb opened #63 "Allow to select top/bottom records from dimension without applying dimension filter"
It would be helpful to get behavior similar to group/groupAll, when filter for dimension is not applied, and select all the rows that satisfy every filter except that particular dimension

[2016-08-19 15:57] betalb opened #64 "Get all records that satisfy filters"
Add global method that will allow to select all records with all filters applied.

Currently this can be achieved by creating dummy dimension, but this has additional memory/speed footprint

[2016-08-19 16:39] esjewett commented on #64
Why not use a dummy dimension? I think the memory footprint is going to be incurred either way. No reason to make users pay for it if they don't need it, I would think?

[2016-08-19 16:39] esjewett commented on #63
I'm trying to understand what this would be used for. Can you explain a bit more what your use-case looks like?

[2016-08-19 16:41] tannerlinsley commented on #64
I agree with Ethan. An opt in method would incur the same if not less
optimized performance bottleneck as creating a dimension.
On Fri, Aug 19, 2016 at 10:39 AM Ethan Jewett <notifications@github.com>
wrote:

[2016-08-19 16:48] gordonwoodhull commented on #63
Probably @betalb is referring to the strange inconsistency where `group.all()`_does not_ observe the current dimension's filters, but `dimension.top()`_does_:

https://github.com/crossfilter/crossfilter/wiki/API-Reference#dimension_top

[2016-08-19 17:30] esjewett commented on #63
Yup, that I understand. But strangely enough, that inconsistent behavior matches the common use case. I'm wondering what @betalb is doing where a different behavior is required.

[2016-08-20 12:34] betalb commented on #64
Looking at the code, I see that this is possible with just O(N), by iterating over data and checking filters array

Creating dimension will require
* Iterate over data array to execute dimension function
* create index array
* sort it

Other drawback is existing 32 dimensions limitation (I'm talking about 1.3) and If I already have 32 dimensions, this may cause an issue. I understand, that I can t

[2016-08-20 18:50] esjewett commented on #64
If we can do it with no impact on people who don't use it, I'd be open to a `crossfilter.allFiltered` method to go with the existing `crossfilter.all` method in 1.4. Want to send a pull request?

P.S. The internal ordering of data in Crossfilter should not be relied on, so the order of arrays returned by `crossfilter.all` and `group.all` is not guaranteed.

[2016-08-31 14:03] betalb commented on #64
Created pull request

[2016-08-31 15:33] esjewett commented on #64
Sorry, I saw it and forgot to come back to it. One small comment. Otherwise looks fine to me.

[2016-09-13 03:20] #64 closed

[2016-09-13 06:22] ttourwe opened #66 "Strange behaviour for Crossfilter group function"
I've noticed the group function in Crossfilter doesn't behave as expected. See [this](http://stackoverflow.com/questions/39455989/strange-behaviour-for-crossfilter-group-function) Stackoverflow post for more details.

Basically the return value doesn't seem to include the keys generated by the groupValue function. Sometimes it does, sometimes it doesn't, and I didn't manage to understand why this

[2016-09-15 20:39] esjewett commented on #66
Was @gordonwoodhull's answer in the Github issue an explanation of why this happens? I'm thinking we need further similar explanation in the docs. Do you think that would help?

[2016-09-15 21:10] gordonwoodhull commented on #66
I would mildly prefer to create a "Crossfilter Gotchas" section, and link to it from the documentation in a few places.

The documentation is precisely correct, but I think it is a bit terse and mathematical for people to understand in a quick reading. This issue is similar to the unordered `NaN` problem which keeps biting people even when they've read the documentation.

I wonder if it would be p

[2016-09-15 21:33] esjewett commented on #66
Re. "gotchas" section/page, I think that sounds like a great idea. Whoever is so moved should set it up ;-) I'll get to it eventually, but I'm swamped right now and it looks like it's not getting any better until December at the earliest.

Re. a validation library. I keep going down this path and then deciding it's not worth it. The best I've been able to come up with it doing a quick validation b

[2016-09-20 19:22] MarkHerhold commented on #44
Just to be clear about the state of this, I do not have time to work on this enhancement for the foreseeable future.

[2016-11-08 16:19] tannerlinsley opened #68 "Investigate TurboJS for performance gains"
Just saw this recently, and I thought it might be applicable to speed up crossfilter's performance.

https://github.com/turbo/js

Thoughts?

[2016-11-08 17:30] derekperkins commented on #68
Wow, that looks like the shiz. That's gotta be a fit here.

[2016-11-08 18:15] esjewett commented on #68
Could be really interesting...

[2016-11-29 13:42] gordonwoodhull commented on #66
Re validation: I'd throw the actual data at the accessor functions and test that they return comparable values. It's slow but it could be done in a separate pass. It would be like, oh my charts are broken, let me try this debug mode or validation library.

I think this would not create too many false positives (not any?). I agree it would be easier with Universe (or if crossfilter had getters).

[2016-11-29 17:01] esjewett commented on #66
That's a good idea. I wouldn't want this to happen automatically, but how about a `crossfilter.validate` method where we can do a bunch of validation and spit out a validation report of sorts on the console or another logger object?

[2016-12-22 14:54] gordonwoodhull commented on #42
I am going ahead with a PR on cdnjs. In the meantime, there is also unpkg:

https://unpkg.com/crossfilter2@latest/crossfilter.js
https://unpkg.com/crossfilter2@latest/crossfilter.min.js

[2016-12-22 16:25] gordonwoodhull commented on #42
Wow, that was fun. They have a *lot* of requirements, hopefully I've satisfied enough for them to help me with whatever I missed.

https://github.com/cdnjs/cdnjs/pull/10050

[2016-12-22 18:28] gordonwoodhull commented on #66
I finally contributed a Crossfilter Gotchas page, here's this one:

https://github.com/crossfilter/crossfilter/wiki/Crossfilter-Gotchas#consistent-dimension-and-group-value-functions

Added links in the documentation. All suggestions welcome!

[2016-12-22 18:28] #66 closed

[2016-12-22 18:37] gordonwoodhull opened #69 "Validating the dimension and group values"
As discussed in #66, we may be able to supply a function that validates the current data against the current dimension and group accessor functions.

Since this is a slow operation, it would not run automatically. Instead, we could have a `crossfilter.validate()` function (which probably needs to call `dimension.validate()` and `group.validate()` functions, given how encapsulated everything in cro

[2016-12-23 18:03] gordonwoodhull commented on #42
https://cdnjs.com/libraries/crossfilter2

[2016-12-23 18:03] #42 closed

[2016-12-27 17:17] esjewett commented on #42
@gordonwoodhull Thanks so much for doing this.

[2017-03-02 06:32] jchen85 opened #73 "Current version numbering does not follow semver; causes problems with yarn"
from: http://semver.org/

Yarn is stricter than npm about semver: https://github.com/yarnpkg/yarn/issues/2070

My experience with this module (v1.4.0-alpha.06) is that yarn installs it fine, but a `yarn check` fails because it doesn't understand how to deal with the leading 0 in 06.

[2017-03-02 17:04] esjewett commented on #73
Hmmm. This is a good point. I have a niggling feeling that that has been discussed before in other issues. Happy to release a 1.4.0-alpha.7 if you think that would help?

I'm also feeling like this has sat around long enough and gotten enough use that it's probably time to just release 1.4.0 even though we know there are a couple of minor performance regressions. @gordonwoodhull @tannerlinsley - t

[2017-03-04 02:20] jchen85 commented on #73
@esjewett Sure, if it isn't too much of a hassle, a 1.4.0-alpha.7 would be greatly appreciated!

[2017-03-04 04:48] gordonwoodhull commented on #73
I'm okay with either - if we release as 1.4.0 we should probably declare that there is a minor performance regression in the release notes. People can stick with 1.3 if this bothers them.

[2017-04-23 02:41] esjewett commented on #35
Draft release notes (let me know if I missed anyone):

Crossfilter 1.4 is the first minor release since the Crossfilter project moved to community stewardship. It includes several new features contributed by multiple members of the Crossfilter community:

 * crossfilter.all allowing access to all the raw data in the Crossfilter, ignoring any filters.
 * Support for more than 32 dimensions. Define

[2017-04-27 16:01] esjewett commented on #73
So, sorry this took so long. I've released 1.4.0, so hopefully that resolves this issue :-) I will try to get beta/alpha/rc version numbers correct in the future. Are you aware of a test regular expression that check for this? The one we had in place obviously did not.

[2017-04-27 16:53] jchen85 commented on #73
Thanks for addressing that!

I don't know of a regex for this, but there is this package: https://github.com/npm/node-semver which I believe is used by npm (even though npm doesn't seem to mind invalid semvers as much as yarn does)

(from my colleague)
[code]

[2017-04-30 13:00] esjewett commented on #73
@jchen85 Thanks for the tip - I'll add that to the tests so we (hopefully) don't have this issue in the future!

[2017-04-30 13:08] #73 closed

[2017-05-16 01:33] greyvugrin opened #74 "Group not filtering"
[code]

With the above code, the group does not seem to be able to update. I see in the log that every other dimension's top 5 returns an empty array, but the group shows the test page, as if the filter wasn't applied.

### EDIT:

I failed to realize that the `filter(null)` was causing the issue here.

[2017-05-16 18:00] greyvugrin commented on #74
My problem ended up being not realizing that I was just passing a reference to the Group in the log call, and was seeing the unfiltered result. Using `JSON.parse(JSON.stringify(group))` fixed my issue.

[2017-05-16 18:00] #74 closed

[2017-05-18 14:01] gordonwoodhull opened #75 "make filename consistent with npm name, or teach webpack"
Hi @esjewett,

dc.js users are in an uproar over the incompatibility we've introduced with webpack by making the npm name different from the filename.

well, not really an uproar, but people keep opening more issues about it. (latest is dc-js/dc.js#1302)

I propose that we either
 1. learn webpack (sigh, another framework that will be obsolete by the time we learn it) and include some webpack conf

[2017-05-18 16:59] esjewett commented on #75
Funny enough, I'm actually using webpack on another project now, but am not using dc.js or Crossfilter on that project, so...

What would be awesome is if we can get someone to put together a super-simple example project that displays this problem. I suspect the fix will be changing the `require` in dc.js's `index.js` to be `require('crossfilter2')`. I'm actually a little surprised the current one

[2017-05-18 17:04] esjewett commented on #75
@gordonwoodhull Looking at the `concat` step of your grunt file, it looks like `index.js` is ignored. Can you update the `require` in that file without impacting your bundles? If so, it would be worth a try to see if it fixes this problem.

[2017-05-18 17:31] gordonwoodhull commented on #75
I have no idea. `index.js` was contributed years ago to enable Node and browserify - I doubt it is intended to help webpack.

You're right that we'll need an example demonstrating the problem.

[2017-05-18 17:58] esjewett commented on #75
My thinking is that Webpack just uses node module resolution. So since there is no `main` file defined in the dc.js `package.json`, webpack will start at the `index.js` by default. When it sees `require('crossfilter')` it will try to resolve that against the directory of the same name in the `node_modules` directory. That will fail because the module and directory are actually called `crossfilter2

[2017-05-18 18:07] gordonwoodhull commented on #75
That would make sense, however the suggested solutions have all involved changing the AMD (!!) path in dc.js. Which I find very confusing, because webpack is a compilation step and not asynchronous at all.

I.e. dc-js/dc.js#1204 suggests changing

[code]

to

[code]

[2017-05-18 19:10] esjewett commented on #75
You are right, that is the fix. I've created a working (e.g. broken) example here: https://github.com/esjewett/dcjs-webpack-example

Running webpack on this results in a compilation error. Webpack tries to resolve the `define` at compile time and fails because there is no `crossfilter` module installed. To verify, do `npm install crossfilter` and then run webpack and it will work.

Looking at the

[2017-05-18 19:38] gordonwoodhull commented on #75
Yes, it will break AMD, which expects the filename not the module name.

This is the essential conflict between webpack's view of the world and the AMD view of the world.

[2017-05-19 14:51] esjewett commented on #75
Got it. Let me see if I can force webpack to behave somehow here...

[2017-05-19 14:56] esjewett commented on #75
To expand on that, I suppose we could just change the filename so that AMD works with `crossfilter2`. But if that's what AMD is basing this off of, then changing that filename will break all existing AMD. Is that correct?

[2017-05-19 15:52] gordonwoodhull commented on #75
I think it will "only" break all manual configurations out in the world. Libraries such as dc.js and family will have an npm dependency of crossfilter2 >= 1.5 (say) so as long as they have been npm-installed, they should be okay.

I don't think it's the manual configuration that has people up in arms, it's that in many cases they have to actually go in and change a line inside `node_modules` (if t

[2017-05-19 16:00] esjewett commented on #75
There is something I am not understanding here, but I don't see what it is. Do we have an example application making use of the AMD loading that will break if we change that line in dc.js?

[2017-05-19 16:31] gordonwoodhull commented on #75
I can work up a simple self-contained example, but not today. My actual use case is pretty complex, because we use dc.js as a data exploration tool in RCloud:

https://rcloud.social/view.html?notebook=4c0b068d7daad696453b

Conceivably, crossfilter2 could also meddle with the requireJS configuration (which also has aliases), but there doesn't seem to be any standard place to put this (it's just a J

[2017-05-19 16:42] esjewett commented on #75
I've put together a basic example here: https://github.com/esjewett/dcjs-requirejs-example

However, it doesn't look to me like Crossfilter properly exports an object with requireJS (dc.js does), so I don't see how AMD is working at all anywhere. I am probably doing it wrong.

[2017-05-19 16:43] esjewett commented on #75
BTW - I can't see that notebook. Do you have one you can make publicly accessible?

[2017-05-19 17:26] gordonwoodhull commented on #75
Sorry, I've published the notebook now. (You could also log into rcloud.social with github, as it's a public demo.)

Crossfilter doesn't really need to register with AMD/requireJS because it has no dependencies. That said, I think at some point someone added UMD (including AMD) support to crossfilter when they were generally upgrading the build. So the first line of crossfilter.js 1.4 does do AMD.

[2017-05-19 17:28] gordonwoodhull commented on #75
Thanks - I can build out that example. Unfortunately I'm on a completely different deadline today so I have to drop out of this conversation. (Even though it's a lot more fun.)

[2017-05-19 19:02] esjewett commented on #75
Thanks - I've got the example working now. Clearly works with `crossfilter.js` and not with `crossfilter2.js`.

Thoughts:
- Require.js appears to require as a convention that the module filename and the module export have the same name (we do - `crossfilter`).
- Require.js still appears to work if we rename the file to `crossfilter2.js` and using `define(['crossfilter2',...`
- Webpack wants, by de

[2017-05-21 00:25] gordonwoodhull commented on #75
Fair enough. Out with the old, in with the new, I guess it is. You are right that when there is no automatic package resolution, there is a copy step where the filename can be changed.

Thanks for puzzling this out!

[2017-05-21 00:25] #75 closed

[2017-06-21 19:49] atomless opened #76 "Filters not applying to groups ?"
I must be missing something? I can see no way of filtering a group. What is going on?

[code]
https://jsbin.com/comuwubati/edit?html,js,console,output

[2017-06-21 20:04] gordonwoodhull commented on #76
This question would be better suited to Stack Overflow, with the `[crossfilter]` tag. I've added your code above for discussion.

Your `fruit_type_dimension` is incorrectly defined, so the group isn't returning any results at all. I think you meant `d.fruit` there. Once that's fixed, yes, [the group will not observe its own dimension's filters](https://github.com/crossfilter/crossfilter/wiki/Cross

[2017-06-21 20:04] #76 closed

[2017-06-22 07:46] atomless commented on #76
Thanks @gordonwoodhull - that's very helpful. There does seem to be a lot of people that are being caught out by a group not observing it's own dimension's filter.

[2017-07-04 14:59] esjewett commented on #76
@atomless There are, and it is counter-intuitive at first. But for driving coordinated views of data, this is exactly what one wants.

[2017-07-12 14:15] guilhermecgs opened #77 "Newbie question"
Sorry for the newbie question, but just to be sure, is [this PR](https://github.com/square/crossfilter/pull/75) (from the original repo) already merged in v1.4?

The main point is: can I use more than 32 dimension in v1.4?

[2017-07-12 14:48] gordonwoodhull commented on #77
Yes - see #10

[2017-07-12 14:48] #77 closed

[2017-07-12 15:32] guilhermecgs commented on #77
[closing...](https://github.com/crossfilter/crossfilter/releases/tag/1.4.0)

[2017-07-17 15:13] atomless commented on #76
@esjewett, @gordonwoodhull You guys know this example in the docs directly contradicts this, right?
[code]

[2017-07-17 16:10] gordonwoodhull commented on #76
I'm not sure what that example is supposed to show - I agree it's at least misleading. The filter has no effect. The printed result (`{ key: "001", value: 13 }`) is correct - I just tried it [in a fiddle](https://jsfiddle.net/gordonwoodhull/0eo7h5yb/8/).

Maybe the author was just demonstrating that this is how you filter, and quite unrelated, this is how you get results. We could add a comment th

[2017-07-17 17:21] esjewett commented on #76
Good point. It's just supposed to show (I suspect) that array dimensions support both filtering and normal group creation. Would probably be best to put the filter after the group query.

[2017-07-17 19:59] atomless commented on #76
Even better, show people that for the filter to actually have any effect they have to apply it to a dedicated dimension separate from the one they made the group from.

[2017-07-17 20:09] gordonwoodhull commented on #76
This example just happens to be the first example in the documentation, but it's not a general purpose example at all - it only has to do with dimensions with array keys. If people just scan through the documentation looking for examples, it might not be all that helpful, and we can't build it out for all purposes.

I think we might suffer from too much documentation. The confusion you've run into

[2017-07-18 18:34] atomless commented on #76
Yes maybe a quick start guide would be good. And I see your point about front loading the docs too much. However this example already shows adding a filter to a dimension and then getting a result from a group made from the dimension. I'd say that sets people up for a fall.

[2017-09-13 17:11] tehsenaus commented on #6
Hi Ethan,

I've finally had a chance to work on this, and I've raised a PR here:
https://github.com/crossfilter/crossfilter/pull/81

Would appreciate your feedback!

[2017-09-17 20:52] Frozenlock opened #82 "Incorrect minified version (1.4.0 vs 1.4.1)"
While the last commit message and the package.json indicate version 1.4.1, the declared version in the minified file is 1.4.0.

[2017-09-18 10:20] esjewett commented on #82
Thanks for filing the issue. That is very odd. I'm going to try to release a 1.4.3 version and hopefully it picks up the version change.

[2017-09-18 13:26] Frozenlock commented on #82
Yup, this time it worked.

[2017-09-18 13:26] #82 closed

[2017-09-22 15:49] esjewett commented on #6
Fixed in #81.

[2017-09-22 15:49] #6 closed

[2017-09-27 14:30] esjewett opened #84 "Typescript port and refactoring"
As discussed with @tehsenaus over on #81, Crossfilter could use some significant refactoring. Porting to a typed language would also help with ensuring things are working as we expect and cutting down on bugs, so moving to Typescript may be helpful in this endeavor. This issue is to discuss those possible changes and track work related to them.

Do people have thoughts on this proposal?

[2017-10-03 20:17] supercargo commented on #84
I ended up stumbling upon this issue because I was looking for info on type definitions for the community version of crossfilter.  I think a typescript port would be a great way to go.

Adding static types to the existing API seems like a reasonable first step.  `@types/crossfilter` is a start, but doesn't have any of the 1.4 API.  I was considering authoring a `crossfilter2` port for DefinitelyTy

[2017-10-03 20:53] esjewett commented on #84
@supercargo That does seem like it would be a good first step. Just as `crossfilter2` (on the 1.x major release) is a purely additive fork of `crossfilter`, I imagine that the types would be purely additive as well.

What would our options be for getting types added directly in the code base? A full Typescript rewrite, or is there a way to annotate the code base in place?

[2017-10-04 15:43] supercargo commented on #84
@esjewett Initially you can do as little as packaging a handwritten `.d.ts` file based on [the one in `@types/crossfilter`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/crossfilter/index.d.ts).  It would probably make sense to also have the ts compiler process this file to make sure it is valid as part of tests, but I'm not sure what the current build process looks like.

A

[2017-10-04 16:19] gordonwoodhull commented on #84
How does Typescript handle arguments that could be one of two types? Because the keys in crossfilter must be either numbers or strings. (Or dates, but those coerce to numbers.)

The terse crossfilter docs just say they must be naturally-ordered. Here's a little wiki entry I wrote about it, somewhat relevant:

https://github.com/crossfilter/crossfilter/wiki/Crossfilter-Gotchas#natural-ordering-of-d

[2017-10-04 16:25] tehsenaus commented on #84
@gordonwoodhull TypeScript supports generics and union types, so all you've described would work quite well. E.g.:

[code]

[code]

If there's a demand then I'm happy to give this refactor a go when I have some time, it should be a fun project. And I think it can be done without any breaking API changes.

[2017-10-12 20:41] ravirane1985 opened #85 "Filtering issue"
Hi,

   I have this weird issue -
in below code I see filtered data even before adding any filter. Both Console Top(Infinity) line produces same result. If I understand correctly, filtered data should appear only after adding filter.
This work if I add debugger while adding filter.

    var facts = crossfilter(data);
    let dim1 = facts.dimension(function(d){ return d.col1; });
    let dim2 = fac

[2017-10-12 20:45] esjewett commented on #85
The individual groups reference internal data structures in Crossfilter and are updated when the new filter is applied, so they will change when displayed on the console. If you want to see them as they were at the time of the console statement, use `console.log(JSON.stringify(dim2.group().top(Infinity)))`.

[2017-10-12 20:45] #85 closed

[2017-10-18 22:16] paulsjv commented on #84
I would love this feature as I am trying to add crossfilter to a project I am working on in Angular 4.  I would much rather have the @types/crossfilter as a short-term solution to get it working with Angular 4 and a longer-term solution of converting it to typescript with the @types built into the code.

I have little experience with TypeScript but would be willing to learn and help out when I can

[2017-10-19 16:39] esjewett commented on #84
I'd love to see this as well but have no time to work on it until January, probably. If you all want to put together either a `@types/crossfilter2` project, or a pull request (or both!), go for it!

[2017-10-19 18:01] tehsenaus commented on #84
I started work on the TypeScript port - I reckon it's about 50% there. But in the meantime it should be very straightforward to add types to this package. I can look into this.

[2017-10-19 21:09] paulsjv commented on #84
I just started on the TypeScript `@types/` declaration today.

[2017-10-24 17:31] betalb opened #87 "Crossfilter leaks memory when disposing groups"
When group is created, crossfilter stores reference to it in dimension array called `dimensionGroups`. But when dispose is called on group, this reference is not removed

[2017-10-25 12:27] betalb commented on #62
Webpack 2 includes json-loader includes json loader by default, so this issue seems to be outdated

[2017-10-25 15:57] esjewett commented on #62
@betalb Thanks for the heads-up. Will close in that case.

[2017-10-25 15:57] #62 closed

[2017-10-30 14:49] #87 closed

[2017-11-10 13:23] betalb opened #89 "crossfilter.remove with predicate is not always calling reduceRemove"
Somewhere in 1.4 developement phase, group functionallity was drastically changed and reduceAdd is called for every record, but remove may be skipped leading to failure of following test.

[code]

Considering that, wanted to highlight few points:
* reading rationale for changing original behaviour, I can't understand why this can't be implemented as top level API, not group level. Special type of

[2017-11-10 13:37] betalb opened #90 "Some tests mutate topics"
Some tests mutate original topic. This may lead to wrong test results if one of test assertions fail before doing  cleanup.

One of such tests &ndash; `remove with predicate`

Consider following example
[code]

Hash iteration is not specified by ECMAScript and is implementation dependent. So above test may executed test 1, test 2, test 3 in any order:

Expected
[code]

Not Expected
[code]

Not Exp

[2017-11-10 13:42] betalb commented on #90
I may be able to update tests to recreate topic on every run

Or jasmine / mocha have better API to execute actions before every test / test suite

[2017-11-13 01:32] esjewett commented on #90
This is a known issue. Thanks for filing it and getting it recorded. If you or anyone else are able to rewrite any or all of these tests to work independently, it would be much appreciated. I would probably recommend creating a re-usable setup/teardown method that runs for each test, either using Jasmine/Mocha APIs or another way. Please keep in mind that many of the current tests *expect* the pre

[2017-11-13 01:47] esjewett commented on #89
The failure of that test function is a problem. Is the failure only when `remove` is called with a predicate function or is it more general?

Regarding rationale, the idea is to allow groups access to the full data lifecycle. Implementing a top level method would indeed address one use-case (seeing the unfiltered counts), but it wouldn't address related use-cases that we can't predict (the unfilte

[2017-11-13 13:30] betalb commented on #89
The test fails only for `remove` with predicate, because only in this case filtered record can be removed.

In this case reduce remove was already called during data ingestion.

It looks like in this situation one of the options will be calling reduce add (with nf = false) and then reduce remove (with nf = true).

[2017-11-20 17:06] ravirane1985 opened #91 "Weird sorting issue"
I have a column with three values start with space, Tab and Enter -

Javascript natural sorting -

["	tab", "↵newLine", " space"].sort();

["	abc", " abc", "↵newLine"]

But when I group this column -

group.all()

(3) [{…}, {…}, {…}]
0
:
{key: "	tab", value: 1}
1
:
{key: "↵newLine", value: 1}
2
:
{key: " space", value: 1}

Any idea why the natural sort desc key order is not preserved here?

[2017-11-21 03:07] esjewett commented on #91
I don't think `group.all` provides a defined sort order. `group.top` will sort by value, not by key. I'm not sure, but I think the internal ordering of groups is a derivative of the behavior of the `crossfilter.bisect` function, which may have different behavior than native Javascript sorting.

[2017-11-21 03:11] esjewett commented on #91
Gah - I need to read our own documentation. It's supposed to be in ascending natural order by key. https://github.com/crossfilter/crossfilter/wiki/API-Reference#group_all

So yes, this does appear to be wrong. Do you have a simple working example or would you like to submit a pull request with a failing unit test? Thank you!

[2017-11-21 17:01] ravirane1985 commented on #91
Hey Ethan, I did some more research today. Conclusion is current crossfilter2 behavior is correct.

Why I was facing this issue -

dimGrp.all()[1].key.toString().charCodeAt(0)
10
"↵newLine".charCodeAt(0)
8629
dimGrp.all()[1].key.toString()
"
newLine"
dimGrp.all()[1].key
"
newLine"
["	tab", "↵newLine", " space"].sort()
(3) ["	tab", " space", "↵newLine"]
[dimGrp.all()[0].key.toString(),dimGrp.all()[

[2017-11-21 17:01] #91 closed

[2017-12-11 20:17] esjewett commented on #89
Ok - sorry, I haven't been able to look at issues again since your last response. I'll try to take a shot at fixing this.

[2018-01-03 12:15] thomasgillet commented on #44
Hello all,

Using crossfilter for some months now, I sometimes run into minor caveats like this issue. I usually fix that in some kind of home-made wrapper, but maybe it's time to contribute rather than fiddling around by myself.

So, after more than 1 year of inactivity, is this issue still valid? If yes I would be happy to (try to) write a PR for it. The `currentFilter` feature seems simple enou

[2018-01-03 16:42] esjewett commented on #44
@thomasgillet Please do. I'm able to review and merge pull requests if/when you send them. My calendar is opening up a bit in 2018 but I am still underwater enough that I'm not going to try to start any changes myself.

[2018-01-04 11:05] thomasgillet opened #92 "Proposal: Expose applied filters through getters"
I'd like to retrieve the filter(s) currently applied to a crossfilter instance (this is the first part of proposal #44).

`dimension.currentFilter()`
Returns the current filter or `null` (i.e the argument given to the latest call to `filter*`).

~~`crossfilter.dimensions()`
Returns an array of all existing dimensions created on this crossfilter instance.
NB: with dimensions having a filter getter,

[2018-01-04 11:05] thomasgillet commented on #44
Ok, I'll give it a try.
Since I only plan to work on the filter getters, not the events, I created the more specific issue #92.

[2018-01-04 14:08] thomasgillet commented on #92
Ok, I may have been too fast here. Two things where I may need some feedback:

#### Ambiguity: `filter(null)` vs `filterExact(null)`

The  `filter` method sees null as a "no filter" value, while it is a perfectly legitimate value (since it is orderable, as said in the [doc](https://github.com/crossfilter/crossfilter/wiki/API-Reference#dimension_filterExact)). This is preventing me to make `current

[2018-01-09 14:35] eamonpenland opened #94 "ImmutableJS"
Does this package work with immutable js?

[2018-01-09 20:21] esjewett commented on #94
I'm not really clear on this question. Probably better suited for StackOverflow if you are trying to do something specific. But you can pass an array of any type of object to Crossfilter as long as your dimensions access it properly, so it would probably work to pass it an array of ImmutableJS objects. I'll close for now.

[2018-01-09 20:21] #94 closed

[2018-01-09 20:26] esjewett commented on #92
Shouldn't be a performance impact from keeping an array of dimensions. You just need to remove the reference from the array when `dimension.dispose` is called so that we don't have a(nother) memory leak.

[2018-01-10 11:03] adrm commented on #84
How is this issue progressing? Right now, the absence of types makes it impossible to use crossfilter2 with `"strict": true` option in the typescript compiler. What is the recommended workaround, if any?

[2018-01-10 15:12] paulsjv commented on #84
Here's the PR I've made from my fork.

https://github.com/crossfilter/crossfilter/pull/86

I haven't had time to work on it since I created the PR due to work, holidays, and illness.  However, feel free to pick up where I left off!  I won't have time to pick it back up until after our yearly review cycle is over in February.

[2018-01-11 10:13] thomasgillet commented on #92
Ok, thanks for the advice.

[2018-01-17 22:32] JohnnyRando opened #96 "dimension.filterAll() not working as documented"
When the following code is run, the first console.log is returning the contents of the crossfilter instance, but the second console.log is return empty brackets.

The API reference states that the dimension.filterAll() method “Clears any filters on this dimension, **selecting all records** and returning this dimension” but no records are showing.

var cf = require('./crossfilter.js');

var payment

[2018-01-24 17:05] esjewett commented on #96
Does it not return the dimension? It does select all records, but it doesn't return them. You have to query the dimension/groups to get the records. Perhaps it should just read “Clears any filters on this dimension, returning this dimension”. I'll leave this open for now as a reminder to revisit this eventually.

[2018-01-24 17:43] gordonwoodhull commented on #96
I've seen this confusion a lot recently, so [I added a Gotcha to the documentation](https://github.com/crossfilter/crossfilter/wiki/Crossfilter-Gotchas#dimension-filters-dont-return-the-current-values). It's natural to think that `dimension.filter()` behaves like JavaScript's `array.filter()` but this is not the case.

[2018-01-24 19:03] esjewett commented on #96
@gordonwoodhull Of course it's a gotcha! Why didn't I think of that? Thank you!

[2018-01-24 19:03] #96 closed

[2018-02-21 19:45] esjewett commented on #92
Can this be closed now that the pull request is merged and deleted?

[2018-02-22 08:13] thomasgillet commented on #92
Well, the part about getting the dimensions of a crossfilter is still pending. I planned to make a second pull request for that, but I'm quite late.
But then would it be actually useful to someone? I know getting filters from a dimension is enough for me. What about @MarkHerhold who wrote the proposal in the first place?

[2018-02-22 11:32] MarkHerhold commented on #92
I haven't worked on the original project for quite a while, but I believe your implementation included everything that I had needed. I only needed to get the current filters from a dimension I had a reference to, not anything more complicated.

Good job with this 👍

[2018-02-22 12:01] thomasgillet commented on #92
Thanks Mark. Then I close the issue, since I'd not have much time to do it anyway.

[2018-02-22 12:01] #92 closed

[2018-02-22 14:39] esjewett commented on #92
If you run into another API change that would be helpful, please feel free to open another issue. The ideas and contributions are both really appreciated.

[2018-02-23 08:52] thomasgillet commented on #92
Yes I have some more ideas, hope I'll have time to at least open a discussion about some of them...

[2018-02-28 20:51] thatcort opened #99 "Access to Dimension Records (Bisector, Iterator)"
It would be extremely helpful to be able to access the sorted records for a dimension *without* making a copy of the array. A bisector and an iterator would be great. Indexed access would also be helpful, even though it can be faked with top(1, offset).

My use case is as follows:
I have a dimension for which I need the count of records with a dimension value greater than a threshold. These record

[2018-02-28 22:57] thatcort commented on #99
A dimension bisect method would be perfect. I need to know the count of rows in a dimension (with other dimensions' filters applied) that have a dimension value greater than a threshold. With that value I could then access the row data using the dimension top/bottom methods.

The code in the last line of your reply would be quite slow, since it allocates three arrays and does three linear searches

[2018-02-28 23:08] thatcort commented on #99
I can implement something like what you suggest, iterating over `cf.allFiltered()`, but this will be slow as data size or the number of dimensions grows. I'd just use loops to avoid the allocations inherent in map and filter, but the time complexity will still be O(2n).

Another suggestion, then, would be to add additional parameters to the onChange callback. By passing in the added and removed ro

[2018-03-01 14:32] esjewett commented on #99
Hmmm. It occurs to me that you could do the equivalent of your alternative suggestion by creating a custom reducer on `dimension.groupAll`. Could you play with that API and see what you think? You could also use Reductio's `filter` and `valueList` methods, which would do the same thing - https://github.com/crossfilter/reductio

[2018-03-01 17:29] thatcort commented on #99
Thanks, I'll take a look.

I'm trying to convert an existing app to use Crossfilter so that I can combine it's custom visualizations with some standard dc.js ones and take advantage of Crossfilter's incremental approach to filtering for performance gains. I'm running into issues where things in the custom data model seem difficult in Crossfilter.

The next issue I've realized is that there are cas

[2018-03-01 19:23] esjewett commented on #99
Cool - I'd suggest you put together working examples showing what you are looking in these cases. It makes it a lot quicker to evaluate. Overall, StackOverflow is a better place for these types of questions than Github issues - just tag it "crossfilter" and someone will see it. If it turns out there is a bug or a new feature required, feel free to open an issue though.

We would like to have multi

[2018-03-01 19:23] #99 closed

[2018-03-06 12:31] skidr0w commented on #63
@esjewett I also would like this functionality. I am integrating a [parallel coordinates chart](https://github.com/syntagmatic/parallel-coordinates) with dc.js. The parallel coordinates chart only uses it's own dimension and no grouping. The problem I'm facing is, that the parallel coordinates chart can't get all records from it's dimension ignoring its own filter. So for now, only the filtered da

[2018-03-06 17:43] esjewett commented on #63
@skidr0w Hmmm. So you're trying to use a filterFunction to apply the parallel coordinate filters onto the Crossfilter? I wonder if the best approach might be to make `crossfilter.allFiltered` take an `[ignoredDimensions]` argument like `crossfilter.isElementFiltered` does.

[2018-03-07 09:07] skidr0w commented on #63
@esjewett Yes, that is correct. I use dimension.filterFunction for filtering and this works perfectly. But for displaying the records in the parallel coordinates chart I tried to use dimension.top(Infinty), but this only shows records which match the filter in this dimension aswell. The result is, that the parallel coordinates does only show records which match its own filters, which is not the de

[2018-03-07 16:17] esjewett commented on #63
@skidr0w It's not bad, I think. Would you like to send a pull request? You would need to copy the code to build a mask from `isElementFiltered` and add it to `allFiltered`, then call `filters.zeroExceptMask` instead of `filters.zero`.

I would suggest refactoring the mask code out of `isElementFiltered` into its own function, but I think `isElementFiltered` is often called in tight loops and I'm n

[2018-03-07 16:58] gordonwoodhull commented on #63
Mmy understanding is that function calls are "free" as long as they are not polymorphic. Inside crossfilter, each function call *should* always involve the same types. But it's probably worth keeping an eye on the performance tests to be sure.

[2018-03-08 13:43] skidr0w commented on #63
@esjewett I made a pull request for this feature. Do you mind to review my changes? Thank you.

[2018-03-15 17:50] grugknuckle opened #103 "Enhancement Request: Please pass the group-key to the reduceInit functions"
For reference, I'm looking at group [reduce functions](https://github.com/crossfilter/crossfilter/wiki/API-Reference#group_reduce) (add, remove, init). I tend to write my own and I have a use case where I would like the group initialize function to add some data which is computed from the group key.

I don't know for sure if it's possible. But if it *is* possible (and simple) it would be super hel

[2018-03-16 20:18] esjewett commented on #103
Thanks for the suggestion!

I think passing the group key to `reduceInitial` may make sense to add to the API. If someone would like to investigate what that would take and create a pull request, that would be excellent.

However, I would suggest just keeping your computed employee information out of the group in this case and look it up when you are ready to display it. The less information you h

[2018-03-16 21:09] gordonwoodhull commented on #103
I also think it's a good idea and it could be a backward compatible change, since `reduceInitial` currently takes no arguments.

A more compelling example would use the key, or values computed from the key, inside the reduce functions. E.g. if `reduceAdd` used `p.employee` in some way in the example above.

[2018-03-27 20:52] Ardibee commented on #69
+1 for this.
Spent most of a day hunting for a version conflict between dc and crossfilter before progressively removing data until I found the problem: `undefined` values in my data set.
The reason I thought is was version related is that versions prior ro 1.3.14 had no issues with the undefined values. Only when I upgraded to v1.4.* did I start having problems with my crappy data 🙄

[2018-03-27 21:16] gordonwoodhull commented on #69
Hi @Ardibee. Thanks for that data point.

I can't think of any changes that would make this problem worse, so you probably just got lucky with 1.3. 😞

[2018-03-31 16:11] paulsjv commented on #84
I know that they type definition was released with 1.4.5.  However, when trying to install the type definition using `npm install --save @types/crossfilter2` I get a 404 not found.  I know the type definition is there in the root directory and in the package.json.  I would just like to be able to install it without having to go the custom install route.  Is there any way to get this resolved?

[2018-04-01 13:27] esjewett commented on #84
@paulsjv Can you give an example of your setup? Since the types are bundled with the main package and are referenced in the package.json, my impression was that the typescript compiler should pick them up. The types aren't published on DefinitelyTyped as far as I'm aware, so trying to install `@types/crossfilter2` will not work.

[2018-04-01 16:06] paulsjv commented on #84
@esjewett Yes!  I'm actually working on an implementation of it for the DefinitelyTyped repo to share here.  This way all you'll have to do is for DefinitelyTyped and add what's in my fork to yours then create a PR on their repo!  Although, in doing this I'm learning that the d.ts file here is not exactly what is needed so I'll be making some changes to it and delivering a PR here as well.

[2018-04-01 16:45] fnberta commented on #84
There is absolutely no need for this @paulsjv. Just install the normal crossfilter2 package and the types are there. You can have typescript types directly in the npm package. DefinitelyTyped is only needed if package maintainers dont want to have the types in the main npm package. Having them on both would just confuse everybody.

[2018-04-01 17:07] paulsjv commented on #84
Thanks, @fnberta I got it working correctly in my app.  Being new to Typescript, I'm wondering if there should be some documentation on how to get this to work with a user's app?  I finally got it working because I had the wrong import and needed `import * as cf from 'crossfilter2'`.

None the less, I guess the question becomes does the community want to publish the type definitions to DefinitelyT

[2018-04-01 17:49] paulsjv commented on #84
Then maybe a line of documentation would be appropriate?

[2018-04-06 11:51] phyratokar commented on #84
I think a bit of documentation or just an example of how to import and use it in typescript would be helpful.
After `import * as cf from 'crossfilter2';` whats the type of `cf(data)`?

[2018-04-06 14:56] esjewett commented on #84
That (a documentation update) would be excellent. If anyone wants to write something for the docs, just open another issue with what you want to add and I'll be happy to merge it in.

[2018-04-06 16:20] paulsjv opened #104 "Typescript usage documentation"
Here's what I did, maybe this can be used for the Typescript documentation?

In order to use the Typescript definition in crossfilter add the following import statement to your typescript project code:

`import * as crossfilter from 'crossfilter';`

Then to use crossfilter pass the data array to crossfilter inside your typescript file.

[code]

[2018-04-06 17:41] esjewett commented on #104
Thanks! Added here: https://github.com/crossfilter/crossfilter/wiki

[2018-04-06 17:41] #104 closed

[2018-04-07 00:49] phyratokar commented on #104
I think when making the documentation for typescript, the `var payments` should be typed like `var payments: Crossfilter` or something like that. Or is this not possible? And thank you very much for the information up until now!

[2018-04-07 21:35] esjewett commented on #104
@paulsjv is this from @phyratokar right? That is, does it work for you? I'd basically agree but I don't have a typescript project with Crossfilter handy.

[2018-04-25 14:09] gordonwoodhull opened #106 "Support unpkg and Observable?"
@Fil wrote a nice demo of dc.js 3.0 in Observable: https://beta.observablehq.com/@fil/hello-dc-js-v2

He had to use `require('https://bundle.run/dc')` in order to load dc. The same is true of crossfilter2.

I am no expert in the state of the art of JS modules - hoping it will settle down a bit - but it looks like the reason `require('crossfilter2')` doesn't work directly is because our `pkg.main`

[2018-04-25 14:16] Fil commented on #106
My suggestion it to try things out without publishing to npm, which I do (for the modules I'm publishing like d3-geo-polygon), just by using for example:
[code]

(Amazingly, it works.)

(I don't know much about packaging modules, I just follow what Mike did for the other d3-xxx modules.)

[2018-04-25 15:55] gordonwoodhull commented on #106
That's a good point. Yes, the UMD package itself works; I can also do

[code]

The problems seems to be just that unpkg finds the wrong entry point.

[2018-04-25 16:09] Fil commented on #106
Cool. Then it might just be a question of adding
[code]
in package.json (see https://github.com/d3/d3-geo-polygon/blob/master/package.json#L28 )

[2018-04-25 16:13] gordonwoodhull commented on #106
Welp, I'm gonna try it. I think the worst that could happen is we waste a version number.

Publishing as 1.4.6...

[2018-04-25 16:17] gordonwoodhull commented on #106
Yep, that did it! Thanks @Fil!

[2018-04-25 16:17] #106 closed

[2018-04-26 17:36] gordonwoodhull commented on #106
@esjewett, I realized I missed a couple of steps - it's now tagged and has GitHub release notes. Please LMK if I missed anything else.

[2018-04-30 16:36] esjewett commented on #106
@gordonwoodhull Thank you! And because I am underwater, your release would also have picked up #102, #101, #100, and #98...

[2018-05-01 16:27] gordonwoodhull commented on #106
Thanks @esjewett! I've added those to the release notes.

[2018-05-14 08:52] PatrickBeamECR commented on #103
Hello, happy to help with this-- long time Crossfilter user, figure it's time for a little community service. My read of this ask, and please correct me, is as follows:

In the OP's example it doesn't strike me as super useful to have the key available because he didn't do anything with `groupValue` when declaring the group. So `v` in `reduceAdd` and `reduceSum` have the property in each record be

[2018-05-14 14:35] grugknuckle commented on #103
(1): I simply wish to have the group key *available* to the reduce functions so that developers, like myself, can choose to make computations from the key if they desire. I don't want to wade into any discussions about whether that's a bad practice or not. Let the developer decide for him/herself what is performant and what is not.

(2): Passing the group's key as a parameter to the reduce functio

[2018-05-21 10:27] Shirazhussain opened #107 "angularjs controller params Change without reload is breaking on Chrome at ndx.groupAll."
1)I'm using Angularjs 1 and crossfilter is working fine on controller load in all browsers but not on controller parameters change.
2)it is showing "Aw. snap" at ndx.groupAll on chome Version 66.0.3359.117 (Official Build) (64-bit) and higher while working fine with safari and firefox.

[2018-05-25 16:47] esjewett commented on #107
Hi,

You'll need to provide an example of what you're actually trying to do. I'd suggest that you do this on StackOverflow with the 'crossfilter' tag rather than here, as we'd prefer to keep this space only for actual problems identified with the library or improvements suggested. If your question results in identifying a bug, then definitely open an issue here.

Thanks!
Ethan

[2018-05-25 16:47] #107 closed

[2018-06-29 02:50] gordonwoodhull commented on #69
Cf also #61

[2018-07-17 13:07] mread commented on #103
I hope I'm not hi-jacking the issue but I am I right in thinking this would also solve the following use case as there's currently no way to correlate the dimension key with the values in the array property.

[code]

[2018-07-17 15:33] gordonwoodhull commented on #103
Thanks for the discussion, however, naaaw, you have to flatten your data in order to aggregate on commission. The rows are the makes of the cars. You could only aggregate on car values, not commissions.

[2018-07-17 15:44] mread commented on #103
I perhaps rushed the example, each row was meant to me an individual sale and if the group key was available to reduceSum() then I expected to be able to return only that sales person's commission from the sales[] array. Would that be a bad way to do it?

[2018-07-17 16:01] esjewett commented on #103
I think flattening allows you to aggregate on commission, but it makes it very difficult to aggregate on sale. Allowing access to the key in the custom reducers (and maybe in reduceSum and reduceCount as well) would allow one to aggregate on sales person commission in this example, I think, while still allowing natural aggregation on sales. Filtering on a sales person would perhaps not work exactl

[2018-07-17 17:35] gordonwoodhull commented on #103
Okay, got it, each row is a sale with multiple sales people.

Yes, I think this makes sense. You'll run into the usual problems with tag dimensions if you aggregate on car value (will get counted once per sales person), but I think the commissions will come out right.

[2018-08-10 21:21] hirako2000 commented on #61
I understand the approach, and why this got closed, but really sanitazing ain't always an option before run time.
The process is meant to be fast so avoiding the check is sound, but ideally there should be an option for safe checking (at the expense of performance) so that this doesn't happen. Skipping the comparison with a warning/info.
A stack call limit imo is a bug.

[2018-08-10 21:47] gordonwoodhull commented on #61
Right, we have the open enhancement issue #69, to provide validation as a preprocessing step. It may not be too hard, I just haven't had time to implement it and no one has contributed it.

I am certain that it would be too slow to add it as part of the sorting algorithm. That's too late.

I don't think there is any "call stack limit" with valid data. I believe the issue is that the algorithm is r

[2018-08-10 22:37] esjewett commented on #61
Correct, I think. If someone wanted to contribute a check, it should happen during the step of adding new data. Each dimension would need to keep track of what type of value was returned by its accessor for all previously added records and throw an error in the event that the accessor returns a value that isn't naturally order-able compared to other values that have been returned in the past.

[2018-08-11 12:59] hirako2000 commented on #61
Thanks for your input and fast response @gordonwoodhull / @esjewett .
I managed to simply sanitise before sending it off to crossfilter. I have to say this lib is awesome, the performance is truly fantastic and I understand the decisions made to focus on that.

I don't know the ins and outs of the src so it would take me some time to make a sound contribution, I have to finish up a POC, after that

[2018-08-22 08:43] samrith-s opened #109 "How do I properly create dimensions and groups?"
Hey,

I have a dataset like so:
[code]
I want to create a crossfilter which looks [like this](https://i.stack.imgur.com/iGzTS.png).

Conditions are as follows:

* If Day of the Week is changed, it changes the other 3 graphs
* If Hour of the Day is changed, it changes the other 3 graphs
* If Opens graph is changed, it changes the Day of Week and Hour of Day but doesn't change Clicks
* If Clicks gra

[2018-08-22 14:49] gordonwoodhull commented on #109
Hi @samrith-s! Could I ask you to please post your question on Stack Overflow?

That's a better place for answering questions, and there are a few of us active there. We like to use the issue tracker for bugs and feature requests on the library only.

I'm currently on vacation but should be able to take a look in the next couple days if no one else gets to it first.

[2018-08-22 14:49] #109 closed

[2018-08-22 15:28] samrith-s commented on #109
Hey @gordonwoodhull,

Thanks for the reply! I have posted it there.

[2018-09-14 15:02] rmitsch opened #110 "Persist/cache processed crossfilter object"
Is there a possibility to dump or cache a crossfilter object?

My use case is the following: I have a large-ish dataset which takes some time (tens of seconds) to process with crossfilter, since I have a non-trivial number of dimensions. Hence I would like to cache my crossfilter.js object between page reloads to shorten waiting times, but serialization/putting it into localStorage renders the obj

[2018-09-14 17:08] gordonwoodhull commented on #110
In principal, all of the internal data *could* be serialized, e.g. the crossfilter object data

https://github.com/crossfilter/crossfilter/blob/7d8d58a895927206a88fa8caf8e11a4226ef999a/src/crossfilter.js#L44-L46

the dimension data (there are a lot more here, this is just for example:

https://github.com/crossfilter/crossfilter/blob/7d8d58a895927206a88fa8caf8e11a4226ef999a/src/crossfilter.js#L161-

[2018-09-27 18:42] thatcort commented on #89
I'm seeing erroneous behavior on adds too. I have a crossfilter.groupAll.reduce function. The add function is called for far fewer items if I incrementally change the applied filter range, than if I change it all at once. I could try to create a test case, but there doesn't seem to be much movement here.

[2018-09-27 19:43] gordonwoodhull commented on #89
Hi @thatcort, this issue is referring to `crossfilter.remove`, which is unrelated to the ordinary `reduceRemove` called when a filter changes.

If you change a brush only slightly you should see much fewer `reduceRemove` events than if you make a big change, because the changes are made incrementally (crossfilter is designed to make that case really fast).

If you mean that fewer reduceRemove happ

[2018-09-27 19:59] thatcort commented on #89
Yes, I'm seeing different results overall. I'll try to create a testcase and submit a new bug.

[2018-10-20 13:02] betalb commented on #89
Just small update FYI

I've solved floating point issues by applying [Kahan summation algorithm](https://en.wikipedia.org/wiki/Kahan_summation_algorithm)

[2018-10-30 19:42] ricardo-reis-1970 opened #111 "crossfilter.groupAll().dispose() doesn't clean up"
I have a data array with 12 positions. You've seen that, I'm sure. Then I do:
[code]
At this point, `x.value() == 12`. However, if I do `x.dispose();`, I still have `x.value() == 12`. All `.dispose()` does is remove the listeners. It even returns the group itself, in order to be chainable, meaning that the following is true: `x = facts.groupAll().dispose().value() == 12`.

It is my understanding t

[2018-10-31 09:49] ricardo-reis-1970 opened #112 "Undocumented feature: dimension creation with field name"
The API Reference, when refering to `crossfilter.dimension(value [, isArray])` only describes `value` as an accessor function. However, the very first lines of crossfilter.dimension are:
[code]
These evaluate  whether `value` is a string, in which case an internal accessor function is ready. Function `result(object, path, defaultValue)` has the longest comment description in the entire library, it

[2018-11-02 17:43] ricardo-reis-1970 opened #113 "crossfilter.permute(array, index, deep) doesn't go deep"
Here is `crossfilter.permute` (line 2823):
[code]

When we invoke this function with `deep = true`, the initial value of `copy` will bear a deep copy of `array`, but then, as the cycle progresses in replacing the individual members with the ordered ones according to `index`, these are shallow assignments with `=`. Whatever the value of `deep` is, the result will be the same: a shallow copy.

My te

[2018-11-02 19:05] gordonwoodhull commented on #113
Very odd. IIUC it makes a deep copy of the whole thing and then throws it out, just using the result as if it were an empty array.

Maybe what was intended was

[code]
which may be a little faster than calling parse / stringify multiple times.

[2018-11-05 12:07] janhartmann opened #114 "Original value of group"
I have a list of items, where I would like to know the total count of each group value, when there is no filters applied. Ideally I would like to have the output like:

[code]

Where `200` is the matching result when no filters is applied. My usecase is that I need to create a stacked barchart, where these two values are deducted in order to see how many of the orignal.

Does Crossfilter support t

[2018-11-05 13:36] gordonwoodhull commented on #114
I think right now your best bet is to take a snapshot with no filters applied.

It might be possible to implement this efficiently, but currently that information is not stored anywhere.

[2018-11-05 14:37] janhartmann commented on #114
Thank you, I get that. For now I got around it using:

[code]

[2018-11-05 14:37] #114 closed

[2018-11-06 17:19] esjewett commented on #114
You can actually do this using custom grouping functions. They take an argument that tells you whether the record is being added to or removed from the group because it was added/removed from the whole data-set or because it is still in the data but changed whether it is in or out of the filter. You would update your group properties depending on the value of this argument. The `nf` argument is de

[2018-11-06 17:21] esjewett commented on #113
Is it ever used with the `deep` argument?

[2018-11-06 17:29] janhartmann commented on #114
Oh, I did not know about this since the TypeScript types does not expose the nf argument

[2018-11-06 17:44] gordonwoodhull commented on #113
No.

It looks like it was added in by @tannerlinsley in a9d05f03 to support array/iterable/tag dimensions, and then @alexcampana fixed reindexing for the same feature in #80 (36f3bc3b3f3) and got rid of that use of `permute` altogether.

[2018-11-06 17:47] gordonwoodhull commented on #114
Oh cool!

[2018-11-06 17:54] esjewett commented on #114
@janhartmann If you want to send a pull request for the TypeScript definitions, we'll get it merged in!

@gordonwoodhull I had exactly the same requirement about 2 years ago :) I think this was one of the original functional improvements that prompted the `crossfilter2` fork!

[2018-11-06 17:57] esjewett commented on #113
My preference would be to remove the argument in that case, even though it's in a public API. It's undocumented, is probably not used anywhere else, and doesn't actually work as it should if I am understanding correctly.

Alternatively, we could try to fix it and write some tests for it.

[2018-11-06 18:31] janhartmann commented on #114
When I get to a computer (tomorrow), I will commit one to the @types/crossfilter repo :-)

Thanks again

[2018-11-06 20:16] ricardo-reis-1970 commented on #113
As I suspected, your version is better than mine. Calling `JSON.parse(JSON.stringify(array))` once seems more rational.

I dug a bit and could not find a canonical way for deep cloning an array in JavaScript. The current technique of stringifying / parsing back, convoluted as it might seem at first, appears to beat competition across the chart.

I;m not a fan of using the parameters as variables,

[2018-11-07 06:50] janhartmann commented on #114
Added here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30333

[2018-11-07 06:56] janhartmann commented on #114
Okay, seems like I have been depending on the DefinitelyTyped crossfilter types and not the ones that ships with the library.

Apparently the types within this package is not picked up by the IDE - only the ones from the DefinitelyTyped package.

[2018-11-07 07:05] janhartmann commented on #114
In order to make the types within this library work, I have to change them to:

[code]

[2018-11-07 07:37] janhartmann commented on #114
I am a bit confused, I've been using the `yarn add crossfilter` package and not the  `yarn add crossfilter2` package. This means I had to install the types from `@types/crossfilter`.

If I install the `crossfilter2` the built in types has `nf` on them. I guess there was some mistakes in the README which has now been resolved

[2018-11-07 07:47] janhartmann commented on #114
However, it is not possible to return an object from the `reduce` since it is not an instance of `NaturallyOrderedValue`:

[code]

[2018-11-07 08:29] gordonwoodhull commented on #114
I don't get that. The result of a reduction can be any type at all. For example there are some valid reductions where `null` is a good value, and objects are common.

A key is constrained to be naturally ordered, and that's important. But I don't think the value type should be constrained.

[2018-11-07 08:30] janhartmann commented on #114
I agree, but the types must then the TypeScript definitions must be wrong then.

[2018-11-07 08:38] gordonwoodhull commented on #114
The TypeScript definitions are fairly new and experimental. We've been relying on contributors for this part. (I think Ethan uses TypeScript but I don't.)

So I'm not too surprised if they need to be refined (or loosened in this case).

[2018-11-07 08:47] janhartmann commented on #114
I agree (and I can help out!), I just played around and by changing it from

[code]

to

[code]

And the typings work! :-)

[2018-12-05 07:06] AnupriyaPatil opened #118 "crossfilter depricated warning on npm run build"
crossfilter depricated warning on npm run build.

[code]
while i am executing npm run test, it gives me error in crossfilter-test.js. anyone can suggest the solution for both the issues. below is the error in crossfilter.js  and crossfilter-test.js in terminal.

[code]

[2018-12-08 17:18] esjewett commented on #118
I'm not seeing these errors locally. What version of NPM are you running? Are you running this for the latest commit on the master branch?

[2018-12-11 05:12] AnupriyaPatil commented on #118
I am using NPM version 6.4.1

[2018-12-11 05:13] AnupriyaPatil commented on #118
I am using NPM version 6.4.1

[2018-12-11 16:16] esjewett commented on #118
Me too. I just did a full clean/build/test again and everything looks fine. Can you give any more details on what is happening and your setup?

[2018-12-12 05:01] beaugunderson opened #119 "Types for `reduce()` function are too restrictive"
The dc.js documentation shows an example of reducing a crossfilter dimension to an array, for when a reduction needs access to all the rows.

The [example](https://github.com/dc-js/dc.js/wiki/FAQ#do-reductions-that-require-all-the-row-data) given is this:

[code]

This works great for me but to satisfy typescript I have to cast the add, remove, and init functions to `any` because the type definiti

[2018-12-12 05:06] beaugunderson opened #120 "Types for `dimension()` do not support array dimensions"
E.g. in this example, where `d.interventions` is an array of strings, and `true` is passed to tell crossfilter it's an array dimension:

[code]

I get this error:

If I cast `d.interventions as any` I can ignore the error, but would love the type support for arrays. :)

[2018-12-12 05:22] beaugunderson opened #121 "Type definitions contain a `const enum` which breaks with `--isolatedModules`"
I've worked around the issue with `skipLibCheck: true`, but for background see [this issue](https://github.com/Microsoft/TypeScript/issues/20703).

I use typescript with babel, which is the default setup for `create-react-app` when TS is enabled. CRA insists on `--isolatedModules` being turned on, which forbids const enums in `.d.ts` files.

![screenshot](https://i.imgur.com/5Ygz0i0.png)

[2018-12-18 16:08] esjewett commented on #121
I think this is addressed by #117, which I just merged. If you need me to cut a release, please let me know. Now on to the other issues you just opened ;)

[2018-12-18 16:14] esjewett commented on #119
I believe this is the same issue discussed in #116. I believe the issue is that `TGroupValue` should not extend `NaturallyOrderedValue` here: https://github.com/crossfilter/crossfilter/blob/master/index.d.ts#L68

Any chance you could try changing that locally in your d.ts file and see if it resolved this issue? If so, we'll change it. I just don't have a good way to quickly test this.

[2018-12-18 16:18] esjewett commented on #120
Yup, this is an issue. I think we need to change the signature of `selector` (https://github.com/crossfilter/crossfilter/blob/master/index.d.ts#L87) to accept an `OrderedValueSelector` or another selector function that returns on array.

[2018-12-25 02:01] beaugunderson commented on #121
@esjewett thanks so much! would love a release for this but I can pin to master for the time being :)

[2018-12-25 02:05] beaugunderson commented on #121
@esjewett I verified that everything does work on master with `skipLibCheck: false` though 👍

[2018-12-25 02:05] #121 closed

[2019-01-16 15:09] #119 closed

[2019-01-27 15:23] christophe-g opened #124 "removing data throws in Promise"
Experiencing a (new?) error while trying to remove data (from universe) in chrome.

I get

caused by the line put in comment below.

[code]

This cause universe Promise removing data to be rejected and data not removed from dataset.

Potentially linked: #89
Fill propose a PR that will only remove this line.

Happens on Chrome Version 70.0.3538.77 (Official Build) (64-bit) - linux.

[2019-03-18 08:24] scorchiowned opened #127 "while dimension with array filtered, unable to update a single record to crossfilter dataset"
I've created a [repl](https://repl.it/@anttima/cfDimensionWithArrays) to demonstrate how it currently is possible to "update" a single record , but the behaviour is completely different from that of single value dimensions where this issue isnt a concern.

Can someone elaborate is this the current approach on how to update a dataset when `dimension with array` is filtered?

[2019-03-18 10:10] gordonwoodhull commented on #127
There's no need to cross-post crossfilter issues between Stack Overflow and GitHub. The same people follow both sites.

I'll take a look at [the SO question](https://stackoverflow.com/q/55206037/676195). If there does turn out to be a bug we can return to it here. But I kind of doubt it, since the tag-dimension feature is pretty simple.

[2019-03-19 17:15] louMoxy opened #128 "Document empty array case for array/tag dimensions"
Hi,

Found a bit of bug when filtering on an array dimension, when the data contains an empty array.

I have made a codepen here: https://codepen.io/louisemoxy/pen/ywxeMv?editors=0012

Version: 1.4.6

Happy to make a PR if you can point me in the right direction.

Thank you,

[2019-03-19 17:27] gordonwoodhull commented on #128
Interesting, I was just looking into another array/tag dimension bug #127, having to do with adding/removing rows while a tag dimension is filtered.

Would you be willing to start with a PR adding a test? You'll find some tag/array dimension tests with the keyword "iterable" in [test/crossfilter-test.js](https://github.com/crossfilter/crossfilter/blob/master/test/crossfilter-test.js). I thought I

[2019-03-20 17:01] louMoxy commented on #128
Thanks @gordonwoodhull I have added the tests in a PR https://github.com/crossfilter/crossfilter/pull/129

[2019-03-21 14:35] esjewett commented on #128
I've commented on #129 with some suggestions.

[2019-03-21 14:46] esjewett commented on #127
Ok, this is weird. I'm looking at it now as well but I don't have any great answers. Notably, if you create and query the group before you do anything else, it seems to work ok...

[2019-03-25 14:43] gordonwoodhull commented on #128
As discussed in #129, it's working as expected given the design, but the design needs to be documented better and this case should be called out.

[2019-03-25 18:27] gordonwoodhull commented on #127
If anyone has time to review, I added a test with four failing assertions in #130.

I double-checked and think I got these right, but the behavior looks sort of like the filter on the tag dimension is disabled when records are removed or added.

Really appreciate if anyone can spare a minute to go over these tests and see if they are correct.

[2019-03-25 18:35] esjewett commented on #127
@gordonwoodhull Sorry I haven't been able to do much here. This looks right to me. It kind of looks to me from these examples and the ones mentioned above like the bug is actually in the `add` functionality when filters based on array dimensions are in place, but that is just a guess.

[2019-03-25 18:44] gordonwoodhull commented on #127
Thanks @esjewett.

That's a really good point - while writing these tests I didn't run into any unexpected behavior until I added a record.

It also doesn't seem to matter whether we use the predicate form of `.remove()` vs the current-filter form with no arguments. So I think I can simplify the test and narrow in on the problem better.

[2019-04-02 18:30] gordonwoodhull commented on #128
[Documented it.](https://github.com/crossfilter/crossfilter/wiki/API-Reference#dimension_with_arrays)

[2019-04-02 18:30] #128 closed

[2019-04-04 14:25] #120 closed

[2019-04-04 14:28] #118 closed

[2019-04-04 16:13] #124 closed

[2019-04-26 13:38] vfaure-amadeus opened #131 "ComparableObject definition and TypeScript"
Hello,

While trying to make use of the possibility to create dimensions with Arrays (of string), I face an issue in TypeScript.
Here is the error :

`error TS2322: Type 'string[]' is not assignable to type 'NaturallyOrderedValue'.
  Type 'string[]' is not assignable to type 'ComparableObject'.
    Types of property 'valueOf' are incompatible.
      Type '() => Object' is not assignable to type '(

[2019-04-26 15:42] gordonwoodhull commented on #131
Rats, we just did some fixes in this area (#126).

Any chance you'd like to hack on the TypeScript definitions to correct them?

[2019-04-29 09:06] vfaure-amadeus commented on #131
I was using 1.4.6 apparently even though I specified anything superior to 1.4.0 and updated 2 days ago.
Issue has indeed been fixed with 1.4.7, closing the ticket if I can, thanks for the reply.

[2019-04-29 09:06] #131 closed

[2019-04-29 09:23] gordonwoodhull commented on #131
Awesome, glad to hear it!

[2019-05-03 06:44] dahlbyk commented on #44
Should this have been closed by #93?

[2019-05-27 07:02] monfera opened #133 "Ever growing selection"
It seems to be this way since the initial commit of crossfilter (tesseract) and not sure yet if it's a crossfilter issue or a problem with the example (or I'm overlooking something). Here I just drag the selection to the right repeatedly and it keeps growing, see the record count:

![crossfilter](https://user-images.githubusercontent.com/1548516/58401312-c4962980-805d-11e9-9e3a-1be4348e209a.gif)

[2019-05-27 11:43] gordonwoodhull commented on #133
I'm not able to repro this on either Chrome or Firefox latest. (Linux; touchpad.)

I wonder if there is some hidden zoom functionality in the brush which you are triggering inadvertently.

In any case, I'm pretty sure the bug is in the brush not crossfilter. Unless I'm mistaken, the flow of control is exclusively from D3 -> crossfilter, not the other way around. I don't think there is any way for

[2019-05-27 12:05] monfera commented on #133
Thanks @gordonwoodhull - it's the same growth when using it on Chrome or Firefox on OS X, and even on an Android phone with touch. The only triggering condition seems to be that I move the selection such that the right edge of the selection is on the right edge of the entire set, as seen on the gif (doesn't happen elsewhere) then I move toward the left slowly (a diagonal move helps as there are mo

[2019-05-27 13:28] gordonwoodhull commented on #133
I was able to repro on iOS but not on OSX.

I guess I'll leave this open until I'm able to repro on a platform that has debugging capabilities, but I really think it's a bug in d3.svg.brush.

I suppose we could port the example to d3v4+ and see if that fixes it.

[2019-05-28 16:24] gordonwoodhull opened #134 "go back to typed arrays for indices?"
@monfera noticed while working on #122 that typed arrays were inadvertently disabled for indices in the refactoring for browserify (70fb3dca5458d3).

It would be interesting to test if performance dropped due to this. Unless modern JS engines are so smart that they can optimize untyped arrays into typed ones, it should help caching to use the typed arrays.

[2019-05-28 16:27] gordonwoodhull opened #135 "invalid tests mix numbers and strings"
While looking at #122, @monfera and I noticed that there are some invalid tag/iterable dimension tests which try to use numeric tags along with the strings "hello" and "world".

There is no natural ordering of strings and numbers, so sorting fails here. For example, there are two entries for `2` here:

https://github.com/crossfilter/crossfilter/blob/cb4588dc16e11fd705ddb7a330f94627179c9eb1/test/cr

[2019-05-28 18:28] monfera commented on #134
Sorting is a process that can't be done entirely in the CPU cache esp. L1 cache unless the size is trivial, which is not the case with the 250k records in the current benchmark. Untyped, homogeneous numerical arrays, I suppose, still store every element as a 64 bit floating point number.

If the dimension count is low, the original (and pre-2016) version of `crossfilter` would use a byte array, th

[2019-05-30 01:51] gordonwoodhull commented on #134
Yeah, I expect we'll see significant performance restored with this fixed.

We did [notice a performance drop from 1.3 to 1.4](https://github.com/crossfilter/crossfilter/releases/tag/1.4.0) but I think most of us attributed it to the >32 dimensions. This seems more likely! Did you ever get it to run, @monfera?

We should really have a line chart of performance over time. It wouldn't be hard to do

[2019-05-30 02:02] esjewett commented on #134
Nice find @gordonwoodhull

[2019-05-30 09:14] monfera commented on #134
@gordonwoodhull I didn't get around to doing so, the obvious quick attempt
[code]
yielded an error in `npm run benchmark`:
[code]
and I've no plans to use cf now, just poking the code to refresh my memory and grok choices - even Mike's 1st commit is a fantastic tour de force, complete with Google Closure Compiler-like manual code compression - I had to circle back to Elastic tasks, got some talk e

[2019-05-30 10:01] monfera commented on #134
OK here's some wild speculation. Both I and @gordonwoodhull observed that #122 makes filtering was 0..25% faster (average <=10%), depending on dimension etc. It made me think that a carefully optimized built-in sorter may choose to perform a first pass to check the domain of the data, and do various things, eg. balk if the array is already sorted, or... copy the array to an unsigned 8-bit array if

[2019-05-30 10:12] monfera commented on #134
Whoa search for `PACKED_SMI_ELEMENTS` here: https://v8.dev/blog/elements-kinds - small integers!

[2019-05-31 11:25] gordonwoodhull commented on #134
I spoke too soon. I am seeing a small performance improvement with typed arrays restored, but it is not as big as I hoped.

I think @monfera is right that V8 is able to detect that the arrays should be typed, and probably the integer width as well. So explicitly using typed arrays just pushes V8 in the right direction earlier.

My branch is here: https://github.com/gordonwoodhull/crossfilter/tree/

[2019-05-31 12:26] monfera commented on #134
We should crossfilter the perf results :-) Dimension 1: commit time. Dimension 2: browser. Dimension 3: Browser vintage (browser perf itself varies over time). Dimension 4: platform (desktop, laptop, top phone, average phone, low end phone, OS X vs Android) Dimension 5: Time of hardware generation. So it could be a multitemporal query of itself 😂

[2019-06-04 09:14] alexmunoz17 opened #137 "Why does crossfilter not filter my data correctly?"
I'm learning crossfilter and want to filter some data.
So I have this big [json file](https://www.file-upload.net/download-13625051/data2.json.html) (It's actually csv) with almost 4 million lines of data.

The file looks like this:
`timestamp,speed,power,distance,temperature,heart_rate,cadence,altitude,lat,long
1514806362,6569,172,6.63,14,90,87,2548,500870453,33664825`

And all I'm trying to do i

[2019-06-04 12:36] gordonwoodhull commented on #137
Support questions like this are better for Stack Overflow. A few of us follow the crossfilter tag there.

Currently `d3.csv` returns all field values as strings. So you are getting a lexicographical ordering of your data instead of numerical. If you looked much further down you'd probably see one million sorted near the tens and hundreds. 😉

It's best to convert any field you intend to use as a nu

[2019-06-04 12:36] #137 closed

[2019-06-13 23:27] thatcort opened #138 "crossfilter.groupAll not removing correctly -- depends on number dimensions"
I have a crossfilter with a groupAll counting reducer. I have found that when I use a filterFunction on a dimension, I sometimes end up with a discrepancy between crossfilter.groupAll.value() and the crossfilter.allFiltered() size.

crossfilter.allFiltered always returns the correct items. The groupAll remove function is not called for a certain set of items in the crossfilter, and it reports too

[2019-06-14 02:59] esjewett commented on #138
I’d guess this is happening because one of your dimensions is returning values that are not naturally ordered, causing the group to be missed. You’ll need to share code or a reproducible test case. If it’s a bug with the 32 dimension cutoff, then it should be reproducible.

[2019-06-14 09:21] gordonwoodhull commented on #138
Hmm, that sounds plausible but a groupAll doesn't use a dimension so there shouldn't be any ordering issues.

Strongly agree that we need runnable example or test case in order to diagnose this.

[2019-06-14 18:58] thatcort commented on #138
I managed to create a test case and it's weirder than I thought. It only occurs with 32 dimensions (so "30 columns" in the test case) and only if I log the groupAll count before applying the filterFunction. The attached test case should run in the projects test folder.

[groupAll-test.js.txt](https://github.com/crossfilter/crossfilter/files/3291842/groupAll-test.js.txt)

[2019-06-14 20:26] gordonwoodhull commented on #138
This is very weird. Thanks for the test case @thatcort!

Calling `.value()` causes the value to be computed, and it also clears an internal bit `resetNeeded`, which allows incremental computation. So it's a completely different mechanism and code path that calculates the value if the value has been read before filtering happens... that much makes sense.

Where exactly the bug is, I didn't find. Pr

[2019-06-15 02:31] esjewett commented on #138
I hope I can look at it this weekend. One interesting question is whether this happens in old crossfilter (or 1.3, I guess) before the support for numbers of dimensions >32.

[2019-06-25 20:49] thatcort commented on #138
Any thoughts on when this might be fixed?

I'd like to be more help, but am finding all the bit manipulation in the code pretty opaque to debug.

[2019-07-08 14:48] thatcort commented on #138
I did a bit more investigation. The bug occurs every 32nd dimension (so 32, 64, 96...) and is not limited to filterFunction (also occurs for filterRange). This updated test case will test dimensions up to 300.
[groupAll2-test.js.txt](https://github.com/crossfilter/crossfilter/files/3368917/groupAll2-test.js.txt)

[2019-07-08 16:32] TijmenW commented on #138
I also did some research, but still cant pinpoint where the paths diverge.

[2019-07-08 16:35] TijmenW commented on #138
I also did some research, but still cant pinpoint where the paths diverge.

I did verify however that calling the private reset method solves it, and that it's independent of the number of rows.

[2019-07-08 17:00] TijmenW commented on #138
I think I found something.

There is a overflow somewhere in the bitarray stuff.

[2019-07-08 17:05] gordonwoodhull commented on #138
Interesting! Thanks for investigating, @TijmenW!

JavaScript bitwise operators do [treat their operands as a sequence of 32 bits](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_Operators), and what's more, as *signed* 32-bit integers, so that 32nd bit could cause problems. I have not looked closely at the code, though.

[2019-07-08 17:10] TijmenW commented on #138
That was indeed the problem.

I solved it, will send a pull request after clean some stuff up.

[2019-07-08 19:10] TijmenW commented on #138
Anyway, feel free to merge.

[2019-07-11 18:35] TijmenW commented on #84
@tehsenaus, is anyone currently working on a TypeScript port?

[2019-07-22 20:14] #138 closed

[2019-09-16 22:15] gordonwoodhull opened #141 "if a tag dimension is filtered, rows with empty tags array may be returned by .top()"
Raised in this SO question: https://stackoverflow.com/questions/57955246/crossfilter1-4-6-filter-likes-not-work-when-dimension-with-array-still-can-get

It seems that if the filtered tag is the only tag present, or there are no tags present, then all of the rows with no tags will be returned.

From the question, this returns two results when it should return 1:

[code]

This correctly returns one

[2019-09-16 23:44] gordonwoodhull commented on #141
Here are some data sets that pull in empty-tagged rows when filtered on `"vv"`:

[code]

As long as there is any tag in the data set that does not match _and is not invalid_, it seems to be okay.

Here are some _invalid_ values that also trigger the bug:
[code]

May or may not be related. I haven't looked at the code yet.

I'll file a PR with test cases soon.

(See #130 for test cases related to b

[2019-10-01 14:17] gordonwoodhull commented on #103
Similar question: how to reduce a tag dimension where each tag in the array corresponds to a value in another array field:

https://stackoverflow.com/questions/58132895/plotting-aggregated-data-with-sub-columns-in-dc-js

[2019-10-25 19:35] gordonwoodhull opened #143 "update demo site"
The demo at github.io (from the gh-pages branch) is still using D3 3.3.3 and crossfilter 1.3.11.

Worth updating it to D3v5 and latest crossfilter.

[2019-10-25 20:09] #35 closed

[2019-10-28 13:36] gordonwoodhull commented on #141
Adding tests to #130. I don't think there is any need to test the invalid cases, because the result is undefined if the data is invalid.

[2019-10-30 11:04] TijmenW opened #144 "Small release before 1.5?"
Will there be a small patch version of the 3 commits not currently part of the latest version before the ES6 upgrade?

[2019-10-30 12:03] gordonwoodhull commented on #144
Yes. I am currently planning to release 1.4.8 and 1.5 at the same time, in the next couple of weeks.

Master plus any fixes which are ready that don't need ES6 will go into 1.4.8.

Built-in sort #122 and the ES6 changes will go into 1.5.

[2019-11-03 01:55] gordonwoodhull commented on #112
It's a path expression language which came from lodash.result/[lodash.get](https://lodash.com/docs/4.17.15#get). It is being replaced with something based on [deepobj](https://github.com/ranfdev/deepobj) in 1.5.

I put a link to #56 in the docs because it's not succinctly described anywhere else.

[2019-11-03 01:55] #112 closed

[2019-11-03 03:09] #127 closed

[2019-11-03 03:09] #141 closed

[2019-11-04 15:26] gordonwoodhull commented on #144
Since I got stuck on #134, I'm not sure what to do.

I think it's important to restore typed arrays in a version 1.4.* targeting ES5. But later changes rely on the arrays being untyped, so it will take some debugging and fixes.

I see three choices:

1. I could release 1.4.8 with the other fixes, and continue with the ES6 changes in 1.5. But this would mean we would need a longer-term "support bra

[2019-11-09 05:15] #134 closed

[2019-11-09 05:15] #135 closed

[2019-11-09 06:24] gordonwoodhull commented on #144
Version 1.4.8 is published!

https://github.com/crossfilter/crossfilter/releases/tag/1.4.8

[2019-11-09 06:24] #144 closed

[2019-11-09 15:47] TijmenW commented on #144
When is it going to be published on NPM and cdnjs?

[2019-11-09 16:16] gordonwoodhull commented on #144
Thanks, I went straight into 1.5 and forgot npm. 1.4.8 is published on NPM now.

As of a week ago CDNJS [seemed to be in trouble](https://github.com/cdnjs/cdnjs/issues/13524), so it might take some time to land there.

unpkg is not quite as reliable but always up to date:
https://unpkg.com/browse/crossfilter2@1.4.8/crossfilter.js

[2019-11-11 07:38] thuannh1027 opened #147 "Unable to use in Angular 7.2.0"
I am unable to consume the library in Angular 7.2.0. I install by using `npm i --save dc @types/dc crossfilter2 d3 @types/d3`

Here is my app.component.ts
![crossfilter-error-app component ts](https://user-images.githubusercontent.com/13108786/68569508-cf6c3b80-0490-11ea-97c4-d34c48321a22.PNG)

Here is the error
![crossfilter-error](https://user-images.githubusercontent.com/13108786/68569514-d6934

[2019-11-11 12:24] gordonwoodhull commented on #147
We just released version 1.5 with ES6 module support, but I don’t know if anyone has tested it with Angular.

Please try changing your dependency to

[code]
 and see if that works?

[2019-11-11 12:25] thuannh1027 commented on #147
thank you so much. I will give it a try when I have a chance.

[2019-11-11 13:06] gordonwoodhull commented on #134
It turned out there were a couple of more recent changes which didn’t work with typed arrays — described in #145 and fixed in 6a8e1741e56 and b8d867868d.

I didn’t attempt to benchmark this (or build a data collecting per-user-agent profiling page haha!) I expect it will help performance on browsers with weaker JS optimization.

[2019-11-11 14:45] gordonwoodhull commented on #147
I don't know that much about Angular or Typescript, but out of curiosity I did some testing.

I took the old test project [ang-dctable](https://github.com/dc-js/ang-dctable) and I upgraded it to Angular 7 and Typescript 3.2. (However, I saw the same errors with Angular 6 and Typescript 2.9.)

It seems that the immediate problem is commit 3a7ed15b112 by @TijmenW. It could be that that using `readon

[2019-11-12 07:10] TijmenW commented on #147
I think that's indeed the case. My apologies, there weren't any Typescript version requirements listed anywhere, and the release was already seven months old.

What would be a possibility is replacing `readonly T[]` by `ReadonlyArray<T>` which is also supported in lower versions and, apparently, in Angular.

[2019-11-12 11:16] TijmenW commented on #147
This might be related to the ES6 module rewrite, not sure though.

It might also be a good idea to put in some typescript tests, like [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped), so this doesn't happen again.

[2019-11-12 13:26] gordonwoodhull commented on #147
Yeah, I don’t think anyone tried Angular before, but I’m willing to support it if people want it. Still wish we had a champion for it.

The `export = crossfilter` has been there for two years.

Thanks for the workaround for `readonly`, @TijmenW!

[2019-11-13 14:23] TijmenW commented on #147
Ok, nvm that then.

[2019-11-13 16:13] gordonwoodhull commented on #147
I'm going to take careful steps here.

Apparently `export = crossfilter` has different semantics from `export default crossfilter`:

https://github.com/Microsoft/TypeScript/issues/2242

We are deliberately exporting a function instead of an ordinary module, but I don't know if it makes any difference in `index.d.ts`. I'd like someone to test this before I release it.

I have created a branch `angu

[2019-11-14 00:39] thuannh1027 commented on #147
Thank you for all your supports. @gordonwoodhull I have tried the new version but it does not work. Here is the error.

![Capture](https://user-images.githubusercontent.com/13108786/68816710-d45c0580-06b1-11ea-98b3-727ff6ed01b3.PNG)

[2019-11-14 01:09] gordonwoodhull commented on #147
Thanks @thuannh1027 - which line does this error refer to?

I am guessing `crossfilter` was not imported as a function. In which case you might be stuck importing crossfilter as JavaScript, since Angular seems to reject export-equals syntax.

[2019-11-14 01:11] thuannh1027 commented on #147
I try to consume `crossfiler` by `import * as crossfilter from 'crossfilter2'` and after that, I assign my dataset to it. `const testCr = crossfilter(dataset)` - a dataset is an array.

[2019-11-14 01:19] gordonwoodhull commented on #147
Yeah the error looks like it is the function call that is failing. I guess you are stuck with unsafe typing, unless someone comes along who knows how to declare a module that is also a function. 😦

[2019-11-14 01:23] thuannh1027 commented on #147
good news. I think you made it. I try to import by using this `import crossfilter from 'crossfilter2';`.
it works.

let me try more and close this ticket if everything's fine.

[2019-11-14 01:40] gordonwoodhull commented on #147
Ahhh. This is starting to make sense! Thanks @thuannh1027.

Hopefully someone else can confirm that this branch doesn’t break using typescript without Angular, and we can release this.

[2019-11-14 20:22] gordonwoodhull commented on #147
Hi @TijmenW, sorry to lean on you, but I need some feedback here.

1. which syntax do you use to import crossfilter?
2. does this branch work for you?

I suspect this is a breaking change but it is perhaps more compliant with the ES6 module spec.

[2019-11-14 23:35] TijmenW commented on #147
Actually, I'm not using Crossfilter currently, but the codebase of the last project we used it in was duct-taped together, so it might not be representative for the usual project. On the frontend we weren't importing crossfilter directly, but instead using UMD globals.
We weren't using crossfilter on the backend anymore, but when we did it was ```import * as crossfilter from 'crossfilter2';```.
Be

[2019-11-14 23:57] gordonwoodhull commented on #147
I agree, we definitely don’t want to change the import syntax. Thanks very much for this analysis!

I guess we’ll have to wait for someone who understands the Angular dialect of Typescript before we release anything for this.

[2019-11-22 22:40] rightisleft commented on #147
We're seeing the same thing on our angular 7 builds:

`ERROR in node_modules/crossfilter2/index.d.ts(93,21): error TS1005: ';' expected.
node_modules/crossfilter2/index.d.ts(93,23): error TS1011: An element access expression should take an argument.
node_modules/crossfilter2/index.d.ts(94,18): error TS1005: ';' expected.
node_modules/crossfilter2/index.d.ts(94,22): error TS1011: An element access

[2019-11-22 22:52] thatcort commented on #147
I've never heard of an Angular "dialect" of Typescript. @gordonwoodhull What are you referring to?

FWIW, my usage of Crossfilter 1.4 in an Angular 7 project look like this:
[code]
I think this could probably be improved with a default export to avoid all the `crossfilter.` references.

[2019-11-23 15:49] gordonwoodhull commented on #147
@rightisleft, did the special branch help? I am not clear if this helped @thuannh1027 or not.

[2019-11-23 15:51] gordonwoodhull commented on #147
@thatcort I’m no Typescript expert, but I am referring to the fact that TS won’t allow you to `export = crossfilter` in order to have a module that is also a function.

I’d love to be proven wrong. If anyone knows what to do here, please jump in!!!

[2019-11-23 20:50] thatcort commented on #147
@gordonwoodhull I'm wondering if the crossfilter namespace should be removed. In the Typescript docs there is a section on "Needless Namespacing" that seems applicable: https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html#needless-namespacing

[2019-11-24 01:42] gordonwoodhull commented on #147
Thanks @thatcort, that’s interesting but what would we do with the other symbols that currently hang off of `crossfilter`?

https://github.com/crossfilter/crossfilter/wiki/API-Reference#extras

I guess one option is just to drop them, and another option is to make them separate symbols outside of a namespace. Either way `crossfilter` would just be a function.

Neither change is backward compatible

[2019-12-08 16:39] thatcort commented on #147
@gordonwoodhull I played around a little bit and here's what I recommend:

Move everything except the "extras" out of the namespace. This will make all the basic Crossfilter types top-level imports. Keeping the extras in the namespace will hang them on the crossfilter function as they are now.

This will mean that existing Typescript users will need to update their import statements, but that's it

[2019-12-09 15:02] gordonwoodhull commented on #147
Thanks @thatcort for experimenting with this.

Are you saying that Angular will allow you to hang other symbols off of a function, just not types?

I was under the impression that there was no way to have a function that is also a module except by using `export = crossfilter`, which Angular does not support.

I'd prefer to find a solution for Angular that does not break the imports of other Typesc

[2019-12-09 18:11] thatcort commented on #147
I don't think it was ever broken for Angular users, it's just that the imports aren't ergonomic.

See my import example in https://github.com/crossfilter/crossfilter/issues/147#issuecomment-557723760

So this changes the declaration file to allow more ergonomic imports:
`import * as crossfilter from 'crossfilter2/crossfilter';` --> `import * as crossfilter from 'crossfilter2;`

I can understand wh

[2019-12-09 18:25] gordonwoodhull commented on #147
Wait, you’re saying that you are able to use the types from master? That contradicts the original report here. @thuannh1027 reported a syntax error on the `export = crossfilter` line.

Maybe there are different versions of Angular involved here.

[2019-12-09 19:33] thatcort commented on #147
Maybe I should test it more thoroughly. I made the changes and `npm link`ed it into a new Angular project, saw all the code completions working and called it good enough to post here. I should try running!

[2019-12-09 19:58] thatcort commented on #147
OK, I tried running and got the same error. Apologies. So the original import statements I described above do work. Am I testing on the right branch?

[2019-12-09 20:39] gordonwoodhull commented on #147
Thanks for checking, @thatcort.

Yes, the master branch is 1.5 and it has the ES modules stuff. It shouldn't make any difference, since there are no substantive changes to index.d.ts in 1.5 (just a few functions removed). And we kept the API the same.

But I guess you are saying that you were not having problems with 1.4 but with 1.5 you have the same error quoted above.

I find this hard to expla

[2019-12-09 21:54] thatcort commented on #147
I'm saying that I don't have problems with either version, as long as I import correctly as shown in https://github.com/crossfilter/crossfilter/issues/147#issuecomment-557723760

[2019-12-09 23:05] gordonwoodhull commented on #147
I’m really confused how importing one way could cause a *syntax error* parsing index.d.ts, but not the other way. That’s not the way I’m used to languages working. I guess I’ll have to dive in and try this stuff myself.

Did you have a working suggestion for how to make this more ergonomic? I suppose we could consider a more streamlined interface in the future. It would require a version bump thou

[2019-12-10 14:54] thatcort commented on #147
The syntax error is due to the declaration file itself, not how it's imported. I honestly find this stuff so confusing sorting out types, namespaces and values, but can try to take another look.

[2019-12-20 00:32] gordonwoodhull opened #150 "package.json:main should point to a valid CommonJS file"
First reported at https://github.com/karenpommeroy/dc-tableview/issues/10

dc-tableview is running jest using CommonJS, which fails with

[code]

It doesn't want to see any ES6.

Tested

[code]

locally, it works because UMD is valid CommonJS. Will publish 1.5.1 shortly with a fix.

[2019-12-20 00:49] gordonwoodhull commented on #150
Fixed in 1.5.1

[2019-12-20 00:49] #150 closed

[2020-01-10 19:04] gordonwoodhull commented on #44
Replaced by #92 and implemented in #93.

[Documented here](https://github.com/crossfilter/crossfilter/wiki/API-Reference#dimension_currentFilter).

[2020-01-10 19:04] #44 closed

[2020-02-11 20:15] gordonwoodhull opened #151 "crossfilter 1.5 becomes a module with .default as the crossfilter function in vue"
Similar to #147, when crossfilter is imported in vue (via dc.js) it seems to show up as a module, with `crossfilter.default` as the desired function.

Thanks to @Spacarar for the report in dc-js/dc.js#1650.

I can't see anything in generated JavaScript AMD that would cause this. I have not narrowed down whether it is ES6 modules, or transpilation, or what.

[2020-02-11 20:17] gordonwoodhull commented on #151
Looks like the same issue identified in [this reductio question on SO](https://stackoverflow.com/questions/59960090/how-to-get-reductio-to-work-with-crossfilter2-using-webpacker-in-rails-6). So it might be resolved by dc.js 4.0 using rollup instead of grunt-concat. But still, why?

[2020-04-02 12:17] ninjakx opened #152 "Cross filter is not working properly."
I have used the same code but the expected result is different for 2 different set of d3.js/

**1st version:**
**d3.js:** 5.15.0
**dc.js:** 3.2.1
**crossfilter.js:** 1.3.7

**result:**
![part1](https://user-images.githubusercontent.com/29797787/78245318-e6c1c900-7504-11ea-8373-aaf9bcd64343.gif)

-----------------------------------------

**2nd version:**
**d3.js:**  3.4.1
**dc.js:** 2.0.0-dev
**cr

[2020-04-02 12:18] #152 closed

[2020-04-21 21:56] Blackbaud-TylerGreen commented on #147
Hey y'all, I'm looking to implement crossfilter with Angular 7. Is there a solution to this? I am running into errors when trying to execute the crossfilter(). Everything compiles, and I am able to go to that function in the source code with my IDE. I get `crossfilter is not a function`. I'm thinking it is related to this?

[2020-04-21 22:50] gordonwoodhull commented on #147
This recent thread may help.

It’s too bad that all

[2020-04-22 15:15] GChown commented on #147
I've been hitting my head against this for a while using Typescript:
[code]
With this code, the namespace is recognized but the function isn't.
The code Vivek Raju suggests in the Google Group seems to work:
Change `export = crossfilter` to `export default crossfilter` in line 1 of index.d.ts
Is the solution as simple as that?
Other functions are still accessible: `crossfilter.bisect.by(something)

[2020-04-22 15:30] Blackbaud-TylerGreen commented on #147
The workaround https://github.com/crossfilter/crossfilter/issues/147#issuecomment-617452904 worked for me
`import crossfilter from 'crossfilter2';
import Crossfilter = crossfilter.Crossfilter;
this.crossfilterAttempt = crossfilter(this.dummyDataObjectNames);`

[2020-04-23 18:19] bhargavbd opened #153 "Incorrect result in group and reduceSum"
I am having a peculiar issue where the group and reduceSum function ends up returning results which should not appear.

Below is the sample data and code
`let raw=[{"investOperate":"Invest","code":"40985785","cost":154.7},{"investOperate":"Invest","code":"40986425","cost":1156},{"investOperate":"Invest","code":"40986425","cost":10873},{"investOperate":"Invest","code":"40985785","cost":31504},{"inv

[2020-04-23 18:25] gordonwoodhull commented on #153
Crossfilter returns zeroes for empty bins.

https://github.com/crossfilter/crossfilter/wiki/Crossfilter-Gotchas#bins-of-value-zero-are-still-included

[2020-04-23 18:25] #153 closed

[2020-04-23 19:33] Blackbaud-TylerGreen commented on #147
This workaround only works locally however because my builds use a new version of node_modules. I'm not quite sure what needs to be done to solve it, but I think it stems from the namespace and declared function sharing the same name as the export.

[2020-04-24 16:42] bhargavbd commented on #153
Thank you !!

[2020-05-21 08:43] gdet opened #154 "Out of memory"
Hello,
 I am trying to follow the steps from here https://bl.ocks.org/emiguevara/4bd152a8828f6b31270702d97dc0133d to create a chartPie that has an array inside a key. like

      ["Age": "6-9 years","Treatment": ["chemotherapy","surgery","radiotherapy"]
and I have only twelve records. I was using crossfilter 1.3 version but when I added version 1.4 to use dimensions with arrays the page crashes an

[2020-05-21 13:50] gordonwoodhull commented on #154
Please check all the conditions in

https://github.com/crossfilter/crossfilter/wiki/Crossfilter-Gotchas#natural-ordering-of-dimension-and-group-values

Does the error say that it is out of memory, or a stack overflow?

We're not going to be able to help you without a running example. It is unlikely to be a bug in crossfilter although
* it would be nice if crossfilter offered validation of inputs (

[2020-05-21 14:16] gdet commented on #154
I will try to creaste a jsfiddle and I will send you again. In browser console I get an error Out of memory. No more information

[2020-05-25 20:42] gordonwoodhull commented on #154
Hi @gdet, did you figure this out?

[2020-05-28 04:36] gordonwoodhull commented on #154
I'm closing this for now. @gdet, please comment if you are still having trouble.

It's possible there is a bug in the tag dimension feature, but more likely that this has something to do with bad inputs.

[2020-05-28 04:36] #154 closed

[2020-06-16 18:31] namannehra opened #155 "Grouping for array dimension causing error"
`crossfilter2` version: 1.5.2

Code:
[code]

Error:
[code]

[2020-06-16 18:35] namannehra commented on #155
`undefined` being assigned to `groupIndex[i0][index1]` at https://github.com/crossfilter/crossfilter/blob/master/src/index.js#L943 maybe the cause of this.

[2020-06-17 00:17] gordonwoodhull commented on #155
Thanks for the report and test case, @namannehra! That code certainly looks like it should work fine.

We recently closed a similar issue #127 having to do with adding records while a tag dimension filter was active. Tag / array dimensions are a relatively new feature and all the bugs have not been worked out, see also #141.

[2020-07-01 07:36] abhilash-sixthsense commented on #147
@thatcort @Blackbaud-TylerGreen

The following approach worked for me with Angular 9.

[code]

[2020-07-01 08:09] vincentpalita commented on #147
@abhilash-sixthsense : are you able to type your crossFilterObj ?
I still have the same error :  This module can only be referenced with ECMAScript imports/exports by turning on the 'allowSyntheticDefaultImports' flag and referencing its default export. when using Crossfilter interface imported like this :
import { Crossfilter } from 'crossfilter2'

[2020-08-10 19:49] ankurshah32 opened #157 "filterRange API giving a wrong result."
Please have a look at code below it give me wrong result i.e. 0
Please let me know where I doing wrong
`const { crossfilter } = require("crossfilter/crossfilter");

var data = crossfilter([
  {date: "2011-11-14T16:17:54Z", quantity: 2, total: 190, tip: 100, type: "tab"},
  {date: "2011-11-14T16:20:19Z", quantity: 2, total: 190, tip: 100, type: "tab"},
  {date: "2011-11-14T16:28:54Z", quantity: 1,

[2020-08-20 16:06] gordonwoodhull commented on #155
Fixed by #156 and released in 1.5.3

[2020-08-20 16:06] #155 closed

[2020-09-15 02:40] aarontjl opened #158 "Crossfilter 1.4.8 with more than 32 dimension, group all not removing correctly during filter the 32nd dimension"
With crossfilter 1.4.8, i have more than 32 dimension, and group each dimension.

The first time I call 32nd dimension's `filterExact` and then call the other dimension's group `all` function, the group value is correct.

But when I remove the filter and call 32nd dimension's `filterExact` function again, I find that the lower dimension's group is not removing the value correctly, but the higher d

[2020-09-15 14:24] gordonwoodhull commented on #158
Hi @aarontjl, thanks for the report and the fiddle!

Could you provide more detail about what is incorrect? Running your fiddle, I see the same result both times:

<img width="323" alt="image" src="https://user-images.githubusercontent.com/1366709/93221853-3ce59a00-f73c-11ea-8fd7-e59320af829e.png">

[2020-09-15 21:35] gordonwoodhull commented on #158
Thanks for the report @aarontjl!

I had trouble reproducing this due to quirks in the Chrome debugger. Apparently it holds references to live objects, so if you log an object and then make a change to the object, the old log might reflect *later changes*.

For that reason, your "correct" example was displaying the incorrect result from later in the test. Very confusing.

Anyway, here is [a fork](h

[2020-09-16 01:14] aarontjl commented on #158
Thank you very much for your reply @gordonwoodhull!

I'm sorry for the confusion caused by my unclear description.As you said, this is exactly the problem I am currently experiencing.

[2020-09-16 01:36] gordonwoodhull commented on #158
Nothing was unclear, except the Chrome debugger! Weird behavior there.

Sorry I don't have an immediate fix or workaround for you. If you want to try to fix this yourself, I would be glad to help.

The first step would be to turn your fiddle into a test under `test\` and run `npm test` to watch it fail.

I am going on vacation soon, so I may be slow to reply for the rest of the month.

[2020-09-16 01:45] gordonwoodhull commented on #158
It's probably obvious, but the backstory is that >32 dimensions is one of the newer features contributed by the community since we forked from square/crossfilter.

As such, it is more likely to have bugs than the original features. Still, I'm surprised there is such a serious issue. Perhaps no one has applied a filter to a dimension over 31 before; they only had passive charts that drew top dimens

[2020-09-23 14:25] aarontjl commented on #158
Hello, @gordonwoodhull

This bug seems to comes from the  onlyExcept function in array.js.

When I filter the 32nd dimension, all the dimensions before the 32nd will remove the filter items as follows:

The value of the removed item in the array is 2147483648(2^31) and the mask assigned to 2147483648.As shown below:
![picture url](https://i.stack.imgur.com/A1j2H.png)

After  `mask &= zero`, mask b

[2020-09-23 14:38] gordonwoodhull commented on #158
Hi @aarontjl, thanks for the analysis!

I agree, this ambiguity between signed and unsigned numbers in JavaScript is a likely cause.

Would you be interested in contributing a PR to fix the issue? As I mentioned above, we just need a test case that fails currently, and the fix you suggest, preferably in separate commits.

[2020-09-23 14:58] aarontjl commented on #158
Thanks for the reply！

I will try to provide a PR as soon as possible to fix the issue.

[2020-09-25 03:50] gordonwoodhull commented on #158
Fixed in 1.5.4. Thanks @aarontjl!

[2020-09-25 03:50] #158 closed

[2020-11-11 18:17] ariya commented on #157
@ankurshah32 `filterRange` is more useful with e.g. numerical values. Is there any reason why you do not use the usual `filterExact`?

[code]

[2020-11-11 18:44] gordonwoodhull commented on #157
Agree, I think the top of the range will be undefined if you supply an array with only one item.

[2021-04-07 10:13] shijocj opened #163 "Issue in Crossfilter top and group methods"
I am working on crossfilter version 1.3.12. Here I have 2 dimensions, one as group dimension and other one is sort dimension.

[code]

Here first I am applying filter on groupDimension like as below
[code]

Then I take `sortDimension.top(Infinity)`

I got the result as below

[code]

But when I find `sortDimension.group().all()`

I got result as

[code]

Actually `sortDimension.group().all()`  res

[2021-04-07 11:26] gordonwoodhull commented on #163
When you file an issue, please specify the expected result. You don't say what you think is wrong here, you just describe the actual result in words. It is also important to include a sample data set which reproduces the failure.

I think you are saying that since the `.top()` result returns only rows containing `"ELEMENT":"1DP - DNL747: 0 mg/kg/dose"`, the value for `sortDimension.group().all()`

[2021-04-07 12:12] gordonwoodhull commented on #163
I'm going to close this, but please comment if the linked article doesn't help.

[2021-04-07 12:12] #163 closed

[2021-04-08 21:53] alxnddr opened #164 "Reduce merges "0" and "null" together"
When a dimension contains both 0 and null reduced values for these are merged.

[code]

Actual:
[code]

Expected:
[code]

[2021-04-18 13:21] esjewett commented on #164
Crossfilter dimension functions must return well-ordered values. There is a discussion of this requirement here: https://github.com/crossfilter/crossfilter/wiki/Crossfilter-Gotchas#natural-ordering-of-dimension-and-group-values

When these functions return non-well-ordered values, you do see the types of issues you are describing.

[2021-04-18 14:35] gordonwoodhull commented on #164
This behaves as specified, and I don’t think there is any way for crossfilter to deal with `NaN` or `null` consistently given its design.

However, other languages have NA values and they are clearly useful.

The best workaround I have found is to use a valid number that is clearly outside the domain, like `-10000` or `-Infinity`. It requires some annoying special cases but it behaves consistently

[2021-04-18 14:35] #164 closed

[2021-04-24 09:28] pierreleripoll commented on #63
Hi ! It's my first time modifying a wiki entry on github, I thought it would automatically run a pull request to be reviewed and approved then merged. But apparently we can just modify the wiki right away ...

[Here's my change](https://github.com/crossfilter/crossfilter/wiki/API-Reference/_compare/312475f549340cda71aa9867145810a3b27b2cc9...1b4a4e1cd0a7979e1d7795b40d9385318f86741a), it directly re

[2021-04-24 13:11] gordonwoodhull commented on #63
Thanks for the update, @pierreleripoll! Your edits are helpful and accurate.

We have a glitch in our workflow because the wiki is a separate process, so we can't review docs as part of a PR. Thus they often get missed.

Please feel free to make further edits if you see other changes that have been missed.

[2021-04-24 13:11] #63 closed

[2021-05-21 13:01] #157 closed

[2021-06-13 17:34] shijocj opened #166 "Issue with Numbers and Empty value in Crossfilter dimension"
I am using crossfilter version 1.3.12. I have an issue with creating dimension which have empty("") values.
Consider an example below,
var data = [{"name":"sebastian","score":0, "attended":"yes","pass":"no","sub":"mathematics"},{"name":"sebastian","score":10, "attended":"yes","pass":"yes","sub":"physics"},
{"name":"sebastian","score":"", "attended":"no","pass":"no","sub":"chemistry"}, {"name":"dav

[2021-06-13 17:44] esjewett commented on #166
The issue you are having is a common one. The output of the function passed to `dimension` must be naturally ordered across all values passed to the function. `""` and `0` are not necessarily order-able, though in this case I think `""` is being cast to `0` so it is included in the same group. I'd suggest that in your dimension function you detect the empty string and use `-1`, `-Infinity`, or som

[2021-06-13 20:58] gordonwoodhull commented on #166
Related: #164.

Issues with coerced 0 come up a lot and are probably worthy of an independent [Gotcha](https://github.com/crossfilter/crossfilter/wiki/Crossfilter-Gotchas).

Given the current design, I don’t think there is much we can fix here.

[2021-08-16 01:21] pjpscriv commented on #147
To add a note for Angular 11, I was able to import crossfilter without doing the `index.d.ts` `export = crossfilter` => `export default crossfilter` change, the import just works if I do:

[code]

The one extra thing I have to do is add a config value to my `tsconfig.json` to suppress the errors mentioned by @vincentpalita above.
[code]

[2021-10-12 19:19] acmeguy opened #168 "jsonstat -> crossfilter"
Hi,

We are using the jsonstat specification quite heavily to deliver statistical information.

This is a higly efficient format that offers dictionary based encoding for compression and for us it has proven to be the 10% of the size of the equivilent csv.

It has limitations and the tools available to encode/decode (jsonstat-tools) this structure is terribly slow.
We have replaced the toTable and

[2021-10-13 06:14] acmeguy commented on #168
I understand a bit better now how crossfilter works and that it's only during dimension creation that entities are expected/calculated. This allows me to instantiate it with an efficient class that minimizes any overhead.

Thnak you (this can be closed)

[2021-10-13 14:30] #168 closed, assigned to nobody

[2021-10-13 14:31] acmeguy commented on #168
This is what we have implemented now, as well.

Thank you for verifying the approach.

[2021-10-13 15:16] gordonwoodhull commented on #168
It may depend on the complexity of the data, but the rule of thumb I use is that crossfilter is good up to 500K rows. After that, it’s better to use a server side solution. (If you are using dc.js, the [commitHandler](http://dc-js.github.io/dc.js/docs/html/BaseMixin.html#commitHandler) helps with this.)

Once you get to that size, the time downloading all that data to the browser also starts to be

[2022-01-26 17:42] Spacarar opened #169 "quicksort and insertionsort were removed with no documentation or obvious reason"
I've used the [crossfilter.quicksort](https://github.com/crossfilter/crossfilter/wiki/API-Reference#_quicksort) function for some time and have recently been writing a package that binds a bunch of dc/crossfilter/d3 stuff to Vue (if you are interested you can check it out [here](https://github.com/geodav-tech/vue-dcjs/)) and I noticed that these sort functions were missing.

I didn't see anything

[2022-01-26 17:43] Spacarar commented on #169
crossfilter@1.5.4 for reference version

[2022-01-26 17:55] gordonwoodhull commented on #169
Hi @Spacarar!

Please see the release notes:

https://github.com/crossfilter/crossfilter/releases/tag/1.5.0

The PR was #122:

Mike recalled in https://github.com/crossfilter/crossfilter/pull/122#issuecomment-496543182 that the only reason it was there was because “typed arrays did not support a sort method” until ES2015.

If it’s performs better for you, you are of course welcome to copy the old

[2022-01-26 17:55] #169 closed

[2022-06-25 15:54] gordonwoodhull opened #171 "Seeking new maintainers"
Gordon Woodhull is stepping down from maintaining crossfilter at the end of 2022.

He may occasionally respond on Stack Overflow or on GitHub Issues, but will no longer maintain or contribute to the project.

We are seeking new contributors for crossfilter. This is a stable library which has not seen major changes for years, although a few bugs have been found and fixed.

Deepak Kumar @kum-deepak

[2022-08-24 20:37] gordonwoodhull commented on #90
Fixed by #176

[2022-08-24 20:37] #90 closed

[2022-08-24 22:43] hornta commented on #84
I plan on making some effort on this. I think it can be wise to gradually port this to TS because it's doable when building with Rollup.  TypeScript has this magical type called `unknown` which is a perfect substitute for well unknown data types which is perfect to use when porting. However the manual type declaration file will have to remain until every public API is typed.

I don't believe in tr

[2022-08-24 23:07] gordonwoodhull commented on #84
I’m sorry, I'm not interested in reviewing a change to TS.

[2022-08-24 23:08] gordonwoodhull commented on #84
Sorry, wrong ticket. If anyone steps up as maintainer they should feel free to make this change!

[2022-08-25 18:50] gordonwoodhull commented on #84
I want to emphasize that this is a good idea - I just don't have time to review it, and don't have much experience with TS.

One of your options is to fork crossfilter now, do your prettier and porting work in your own fork, and see if anyone steps up to maintain this repo who would be willing to review and merge your changes. Or maybe you will find that the code is not that bad, and you want to s